###  Tuple:
- A tuple is an **ordered, immutable** collection of elements.
- Can contain **duplicates**
- Are heterogenous (can contain elements of different kind like int, str, boolean, etc.)
- Supports indexing and slicing (my_tuple[0], my_tuple[1:3])
- Slightly faster than list and **ideal when data remains fixed**. That is you do not have to perform many insert or update operation.

#### Use Case:
```
- When you want to create a fixed, constant data structure.
- Often used for read-only or hashable data (e.g., keys in dictionaries).
- Ideal when data should not be changed accidentally.

In [2]:
# Tuple declaration
# tpl = ("apple", "banana", "cherry")
# print(tpl)
# print(type(tpl))

# #another way to create tuple without ()
# tpl = "apple", "banana", "cherry"
# print(tpl)
# print(type(tpl))

# create a tuple from a list
fruits = ["apple", "banana", "cherry"]
tpl = tuple(fruits)  # from list
print(tpl)
print(type(tpl))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [1]:
#SIDE NOTE:
one_item_tpl = ("apple",) # mind the comma for it creates tuples
print(one_item_tpl)
print(type(one_item_tpl))

# # NOTE: # This is a string and not a tuple!
tpl = ("apple")  
print(tpl)
print(type(tpl))

('apple',)
<class 'tuple'>
apple
<class 'str'>

In [6]:
# tuple can contain various types of elements:

# number tuple: int, float
t = (10, 20, 25.75)
print(t)

# string tuple
t = ('Jessa', 'Emma', 'Kelly')
print(t)

# mixed type tuple: string,int,float,list
t = ('Jessa', 30, 45.75, [25, 78])
print(t)

t = ((1,2,7.3), "ash", 1234, 54, 12000)
print(t)

(10, 20, 25.75)
('Jessa', 'Emma', 'Kelly')
('Jessa', 30, 45.75, [25, 78])
((1, 2, 7.3), 'ash', 1234, 54, 12000)

In [ ]:
# accessing elements

# tuple: index starts with 0
numbers = (10, 30, 60, 70, 50, 30, 60, 50) # age, income, houses, size of plot, etc
print(numbers[0])   # prints element at index 0 : 10
print(numbers[1])   # prints element at index 1 : 30
print(numbers[3])   # prints element at index 3 : 70

print(numbers[-1])  # access last number 50
print("1111111111111111111111111111\n")

# Slicing: [start_idx: stop_idx: step_size]. 
# Default for start_idx=0, default for stop_idx=last position, default for step_size=1
print(numbers[1:3])  # slice from idx=1 to idx=3: [30, 60]
print(numbers[1:7:2])  # slice from idx=1 to idx=6 with step size=2: [30, 70, 30]

print(numbers[:3])   # slice first 3 elements: [10, 30, 60]
print(numbers[2:])   # slice from index 2 to last [60, 70, 50, 30, 60, 50]
print(numbers[::2]) # from begin to end with step size =2
print(numbers[::-1]) # reverse

In [11]:
fruits = ("apple", "banana", "cherry")

# Tuple concatenation
new_fruits = fruits + ("orange", "grape", "apple")
print(new_fruits)  # ('apple', 'banana', 'cherry', 'orange', 'grape')

# Tuple repetition
print(fruits * 2)  # ('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Checking existence
print("banana" in fruits)  # True

# Finding index
print(fruits.index("cherry"))  # 2

# Tuple length
print(len(fruits))  # 3

apple
cherry
banana
('banana', 'cherry')
('apple', 'banana', 'cherry', 'orange', 'grape', 'apple')
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
True
2
3

In [44]:
# tuple are immutable
planets = ["venus", "uranus", "earth"]
planets[1] = "jupyter" # list are mutable
print(planets)

planets = ("venus", "uranus", "earth")
planets[1] = "jupyter" # tuple are immutable
print(planets)

['venus', 'jupyter', 'earth']

TypeError: 'tuple' object does not support item assignment

In [7]:
t = (10, 20, 60, 30, 60, 40, 60)
count = t.count(60) # Count all occurrences of item 60
print(count)

count = t.count(600)
print(count)

3
0

In [8]:
t = (10, 20, 60, 30, 60, 40, 60)
print(min(t))
print(max(t))
print(sum(t))
print(len(t))

10
60
280
7

# STOP

In [9]:
# OPTIONAL: SKIP
# If one of the items is itself a mutable data type as a list, then we 
# can change its values in the case of a nested tuple.
tuple1 = (10, 20, [25, 75, 85])
# before update
print(tuple1)

# modify last item's first value
tuple1[2][0] = 250
# after update
print(tuple1)

(10, 20, [25, 75, 85])
(10, 20, [250, 75, 85])