# function : lambda, map, filter, reduce, any

## anonymous function lambda
-  anonymous functions — that is, functions without a name.
-  Used when you need a quick, short function for a one-time use
-  Used when you want compact code
-  No doc string option

In [1]:
def square(x):
    return x * x

print(square(5))


# REDO above using lambda
square = lambda x: x * x
print(square(5))

25
25

In [2]:
def add(a, b):
    return a + b

print(add(3, 4)) 

# REDO above using lambda
add = lambda a, b: a + b
print(add(3, 4))  # Output: 7

7
7

In [9]:
# sort names based on their string length
names = ["Charlie", "Alice", "Bob"]
sorted_names = sorted(names, key=lambda x: len(x))
print(sorted_names)  # Output: ['Bob', 'Alice', 'Charlie']

['Bob', 'Alice', 'Charlie']

## map
- map(some_function, some_list)
- Apply a Function to Each Item in a List

In [5]:
# The map() function applies a function to every item in an iterable (like a list).

# Example: Convert a List of Temperatures from Celsius to Fahrenheit
temps_celsius = [0, 10, 20, 30, 40]

# Convert to Fahrenheit using map()
temps_fahrenheit = list(map(lambda c: (c * 9/5) + 32, temps_celsius))

print(temps_fahrenheit)

[<map object at 0x0000014B3F34EBC0>]

## (OPTIONAL) filter
- filter(some_function, some_list)
- Select Items Based on a Condition

In [1]:
# The filter() function filters elements based on a condition (returns True).

# Example: Filter Out Odd Numbers from a List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Keep only even numbers
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(even_numbers)

[2, 4, 6, 8, 10]

## (OPTIONAL) reduce
 – Perform a Cumulative Computation

In [6]:
# The reduce() function (from functools) reduces a sequence to a single value.

# Example: Find the Product of All Numbers in a List
from functools import reduce

numbers = [1, 2, 3, 4, 5]

# Multiply all numbers together
product = reduce(lambda x, y: x * y, numbers)

print(product)

120

##  any() 
– Check If At Least One Element is True

In [2]:
status_list = [False, False, True, False]
result = any(status_list)

print(result)

True

In [7]:

# The any() function checks if at least one element in an iterable is True.

# Example: Check if a List Contains Any negative Numbers
num = [-3, -2, -1, 0, 5] # count of apples

# Check if at least one number is positive
has_negative = any(x > 0 for x in num)

print(has_negative)

True

## all()
- It returns True if all elements in an iterable are true (or truthy).
- If even one element is false (or falsy), it returns False.

In [3]:
nums = [1, 2, 3, 4]
print(all(nums))  # True → all elements are non-zero (truthy)

True

In [4]:
nums = [1, 0, 3, 4]
print(all(nums))  # False → 0 is false

False

In [5]:
ages = [22, 35, 30, 28]
are_adults = all(age >= 18 for age in ages)
print(are_adults)  # True → all are 18 or older

True