## Mapping Type
dict contains elements of type Key : value pairs.
```
d = {"a": 1,
     "b": 2,
     "c": 4
}
```

### 1️. Creating and Accessing a Dictionary
Scenario: Storing student scores in a dictionary.

In [1]:
# creating dict: style1
student_scores = {"Ram": 85, 
                  "Carlos": 92, 
                  "Roman": 78
}

print(student_scores)
print(type(student_scores))

{'Ram': 85, 'Carlos': 92, 'Roman': 78}
<class 'dict'>

In [1]:
# creating dict: style2
student_scores = {}
student_scores['Ram'] = 85
student_scores['Carlos'] = 92
student_scores['Roman'] = 78

print(student_scores)
print(type(student_scores))

{'Ram': 85, 'Carlos': 92, 'Roman': 78}
<class 'dict'>

In [2]:
# optional
# creating dict: style3
l = [
    ('Ram',85),
    ('Carlos',92),
    ('Roman', 78)
]

student_scores = dict(l)
print(student_scores)
print(type(student_scores))

{'Ram': 85, 'Carlos': 92, 'Roman': 78}
<class 'dict'>

In [3]:
# Optional
# creating dict: style4 (Using dict with zip()) 
names = ["Ram", "Carlos", "Roman"]
scores = [85, 92, 78]

student_scores = dict(zip(names, scores))

print(student_scores)

{'Ram': 85, 'Carlos': 92, 'Roman': 78}

In [4]:
# Accessing values using keys

student_scores = {"Surendar": 85, 
                  "Bob": 92,
                  "Tanner": 78
}

print(student_scores["Surendar"])  # Output: 85
print(student_scores.get("Bob"))  # Output: 92

85
92

In [5]:
# show me all keys
keys = student_scores.keys()
print(keys)

dict_keys(['Surendar', 'Bob', 'Tanner'])

In [6]:
# show me all values
keys = student_scores.values()
print(keys)

dict_values([85, 92, 78])

In [7]:
items = student_scores.items()
print(items)

dict_items([('Surendar', 85), ('Bob', 92), ('Tanner', 78)])

In [10]:
print(len(student_scores))

3

### 2️. Adding and Modifying Dictionary Entries
Scenario: Adding a new student's score and updating an existing one

In [11]:
print(f"before adding:{student_scores}")
student_scores["David"] = 88  # Adding new key-value pair
print(f"after adding:{student_scores}")

student_scores["Surendar"] = 90  # Updating value
print(f"after update:{student_scores}")

before adding:{'Surendar': 85, 'Bob': 92, 'Tanner': 78}
after adding:{'Surendar': 85, 'Bob': 92, 'Tanner': 78, 'David': 88}
after update:{'Surendar': 90, 'Bob': 92, 'Tanner': 78, 'David': 88}

### 3️. (OPTIONAL) Iterating Over a Dictionary using for loop
Scenario: Printing each student's name and score.

In [12]:
for name, score in student_scores.items():
    print(f"{name}: {score}")

print("Done")

Surendar: 90
Bob: 92
Tanner: 78
David: 88
Done

### 4️. Checking for a Key in the Dictionary
Scenario: Checking if a student's score is stored.

In [18]:
student_scores = {"Surendar": 85, 
                  "Bob": 92,
                  "Tanner": 78
}

if "Eve" in student_scores:
    print("Eve's score is available.")
else:
    print("Eve's score is not found.")

Eve's score is not found.

### 5️. Removing an Entry(or clearing) from a Dictionary
Scenario: Removing a student's score.

In [17]:
# remove style1
student_scores = {"Surendar": 85, 
                  "Bob": 92,
                  "Tanner": 78
}
student_scores.pop("Bob")  # Remove Charlie
print(student_scores)

{'Surendar': 85, 'Tanner': 78}

In [19]:
# remove style2
student_scores = {"Surendar": 85, 
                  "Bob": 92,
                  "Tanner": 78
}
del student_scores['Bob']
print(student_scores)

{'Surendar': 85, 'Tanner': 78}

In [20]:
# remove style3: remove all entries
student_scores = {"Surendar": 85, 
                  "Bob": 92,
                  "Tanner": 78
}
student_scores.clear()
print(student_scores)

{}

### 6. Nested Dictionary (List or Dictionary Inside a Dictionary)
Scenario: Storing student information including multiple details.

In [14]:
students = { # key=name, value=[age,height,location]
    "Swamy":  [50,1.7,"Kerala"],
    "Tinku"  :  [43,1.3,"Delhi"],
    "Happy":[32, 1.8, "noida"]
}
print(students)
print(students['Happy'])
print(students['Happy'][1])

{'Swamy': [50, 1.7, 'Kerala'], 'Tinku': [43, 1.3, 'Delhi'], 'Happy': [32, 1.8, 'noida']}
[32, 1.8, 'noida']
1.8

In [12]:

students = {
    "Alice": {"age": 20, "grade": "A"},
    "Sita" : {"age": 45, "grade": "F"},
    "Bob"  : {"age": 22, "grade": "B"},
    
}

print(students)  
print(students["Alice"])  
print(students["Alice"]["grade"])

{'Alice': {'age': 20, 'grade': 'A'}, 'Sita': {'age': 45, 'grade': 'F'}, 'Bob': {'age': 22, 'grade': 'B'}}
{'age': 20, 'grade': 'A'}
A

# Advanced operations in dictionary
### 1️. (SKIP) Sorting a Dictionary by Keys and Values
Scenario: Sorting student scores in ascending and descending order.

In [71]:
student_scores = {"Alice": 85, "Bob": 92, "Charlie": 78, "David": 88}

# Sort by keys (alphabetically)
sorted_by_keys = dict(sorted(student_scores.items()))
print(sorted_by_keys)  

# Sort by values (ascending)
sorted_by_values = dict(sorted(student_scores.items(), key=lambda item: item[1]))
print(sorted_by_values)  

# Sort by values (descending)
sorted_by_values_desc = dict(sorted(student_scores.items(), key=lambda item: item[1], reverse=True))
print(sorted_by_values_desc)

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 88}
{'Charlie': 78, 'Alice': 85, 'David': 88, 'Bob': 92}
{'Bob': 92, 'David': 88, 'Alice': 85, 'Charlie': 78}

### 2️. Merging Two Dictionaries (update() & | Operator)
Scenario: Merging student scores from two classes.

In [72]:
class_a = {"Alice": 85, "Bob": 92}
class_b = {"Charlie": 78, "David": 88}

# Method 1: Using update()
merged_scores = class_a.copy()
merged_scores.update(class_b)
print(merged_scores)

# Method 2: Using `|` operator (Python 3.9+)
merged_scores = class_a | class_b
print(merged_scores)

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 88}
{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 88}

### 3. Dictionary Filtering (Keeping Items That Meet a Condition)
Scenario: Keeping only students who scored above 80.

In [73]:
student_scores = {"Alice": 85,
                  "Bob": 92,
                  "Charlie": 78,
                  "David": 88
}

filtered_scores = {k: v for k, v in student_scores.items() if v > 80}
print(filtered_scores)

{'Alice': 85, 'Bob': 92, 'David': 88}

# Sets
### 1️. Creating set using { }

In [9]:
even = {8, 4, 10, 2}
print(even)
print(type(even))
print("############")

# lets add duplicates and they are removed
even = {8, 4, 10, 2, 4, 4} 
print(even)
print(type(even))

{8, 10, 2, 4}
<class 'set'>
############
{8, 10, 2, 4}
<class 'set'>

In [74]:
planets = {"mars", "jupyter", "saturn" } 
print(planets)

{'mars', 'saturn', 'jupyter'}

In [75]:
planets = set(["mars", "jupyter", "saturn"]) # on list
print(planets)

{'mars', 'saturn', 'jupyter'}

In [76]:
planets = set(("mars", "jupyter", "saturn")) # on tuple
print(planets)

{'mars', 'saturn', 'jupyter'}

In [77]:
# Scenario: Storing a list of unique fruits.
fruits = {"apple", "banana", "cherry", "apple", "apple"}  # Duplicates are removed
print(fruits)

{'banana', 'apple', 'cherry'}

In [10]:
# cannot accessing set: 'set' object is not subscriptable
planets = {"mars", "jupyter", "saturn" } 
print(planets[2])

TypeError: 'set' object is not subscriptable

### 2️. Adding and Removing Elements from a set
Scenario: Managing a guest list for an event.

In [78]:
guests = {"Alice", "Bob", "Charlie"}

guests.add("David")  # Add a guest
guests.remove("Charlie")  # Remove a guest

print(guests)

{'Bob', 'Alice', 'David'}

### 3️. Set Operations (Union, Intersection, Difference)
Scenario: Finding common and unique students in two classes.

In [79]:
class_A = {"Alice", "Bob", "Charlie"}
class_B = {"Bob", "David", "Emma"}

# Union (All students)
print(class_A | class_B)  

# Intersection (Students in both classes)
print(class_A & class_B)  

# Difference (Students only in class A)
print(class_A - class_B)

{'Alice', 'Charlie', 'Bob', 'Emma', 'David'}
{'Bob'}
{'Alice', 'Charlie'}

### 4️. Checking Membership in a set
Scenario: Checking if a word exists in a dictionary.

In [80]:
word_set = {"python", "java", "c++", "javascript"}

if "python" in word_set:
    print("Python is in the set.")

Python is in the set.

### 5️. Removing Duplicates from a List Using set (A good application of set)
Scenario: Cleaning up duplicate email addresses.

In [81]:
emails = ["user1@example.com", "user2@example.com", "user1@example.com", "user1@example.com"]
unique_emails = set(emails)

print(unique_emails)

{'user1@example.com', 'user2@example.com'}