# Python Operators
### TYPES:  Arithmetic,  Comparison, Assignment, Logical, Membership, Identity

### Arithmetic Operator +, - , *, /, //, %, **

In [1]:
#Addition
x = 6
y = 5
res = x + y
print(res)

11

In [2]:
#or I can print addition like this
x=6
y=5
print(x+y)

11

In [6]:
#Subtraction
x = 6
y = 5
res = x - y
print(res)

1

In [7]:
#Multiplication
x = 6
y = 5
res = x * y
print(res)

30

In [3]:
#Normal Division (/) --> (Float div) 
x = 10
y = 5
res = x / y
print(res)

2.0

In [4]:
# Modulo Division (//) --> Floor Division --> without decimal values
x = 17
y = 5
res = x // y
print(res)

3

In [8]:
# Remainder Division (%)
x = 17
y = 5
res = x % y
print(res)

2

In [9]:
#Exponentiation (**)
x = 3
y = 4
res = x ** y
print(res)

81

### Comparison Operators <,<=,>,>=,==,!=
- always returns **boolean variable**: True or False

In [6]:
x = 16
y = 15
res = x > y # this is a boolean type

print(res) 
# print(type(res))

False

In [7]:
# or I can print the value directly
x = 16
y = 15

print(x > y)

True

In [ ]:
x = 16
y = 15

print(x < y)

False

In [ ]:
x = 13
y = 15

print(x < y)

True

In [ ]:
x = 15
y = 15
print(x >= y)

True

In [ ]:
x = 13
y = 15
print(x >= y)

False

In [ ]:
x = 20
y = 15
print(x >= y)

True

In [ ]:
x = 13
y = 15
print(x <= y)

True

In [18]:
# is equal to
x = 15
y = 15

# a == b is False 
print(x == y)

True

In [11]:
x = 16
y = 16
print(x != y)

False

In [13]:
x = "a"
y = "d"
print(x > y) # for strings it performs lexicograph a < b < c < d....

True

In [14]:
a = "ash"
b = "bob"
print(a > b) # lexicograph

False

In [17]:
a = "bobit"
b = "boss"
print(a > b) # lexicograph

False

In [14]:
# OPTIONAL: compares list
a = [1,2,3]
b = [1,2,3,4]
print(b<a)

False

In [15]:
x = chr(12)
y = chr(13)

b = x < y

print(b)

True

### Assignment Operator =, +=, -=, *=, %=

In [16]:
# assign variable a the value 5
a = 5
print(a)

5

In [19]:
# c could be salary, hike a
c = 12
a = 3

c = c + a
print(c)

c += a  #--> c = c + a
# print (c)

15

In [20]:
c -= a  #--> c = c - a
print (c)

12

In [18]:
c *= a # c = c * a
print (c)

1092

In [12]:
c = 10
a = 7

c %= a # c = c % a --> Remainder
print (c)

3

In [14]:
c=10
a=4

c /= a # c = c / a
print(c)

2.5

### Logical Operator: and, or, not
- returns boolean variable: True or False

In [20]:
# age is between 20 and 30
age = 60

res = age > 20 and age < 30
print(res)

False

In [24]:
age = 25 
income = 20000
res = age > 20 and income > 30000
# res = age > 20 and income < 200000

print(res)

False

In [6]:
age = 5

b = age < 30 or age > 60 # determine if age is out range [30 to 60]

print(b)

True

In [9]:
# Extra charge if high consumption(more than 500) and either urban area or AC is used.
units_used = 520
area = 'urban'
has_air_conditioner = True

b = units_used > 500 and (area == 'urban' or has_air_conditioner)
print(b)

True

In [24]:
# checks either if both subjects(science+math) marks are > 40 or total marks exceed 100.
math_marks = 38
science_marks = 65

b = (math_marks > 40 and science_marks > 40) or (math_marks + science_marks > 100)

print(b)

True

In [8]:
# The salary must be good(>25000) and either credit score is high or a guarantor is available.

salary = 30000
credit_score = 650
has_guarantor = True

b = salary > 25000 and (credit_score > 700 or has_guarantor)

print(b)

True

In [26]:
a = True
b = False
  
# Print a and b is False 
print(a and b) 
  
# Print a or b is True 
print(a or b) 
  
# Print not a is False 
print(not True)
print(not False)
print(not b)

False
True
False
True
True

# Membership Operator- in, not in

In [28]:
x = 'University of Miami'
b = 'Mia' in x

print(b)
print('Mia' in x)

True
True

In [29]:
x = 'University of Miami'  
print('miami' in x)

False

In [5]:
print('I' in x)

False

In [6]:
print('University' in x)

True

In [7]:
print('University' not in x)

False

In [30]:
print('University' not in x)

False

In [9]:
print('of' not in x)

False

In [13]:
# OPTIONAL
lst = [1, 3, "Universe talks through stars"]
print(1 in lst)
print(2 in lst)
print("Universe"  in lst)
print("Universe"  in lst[2])

True
False
False
True

# Identity Operator is , is not
Used to check if 2 variables refer to the same memory location, not just if they have the same value.

**==** Checks whether two values are equal. It compares contents/values, not whether they’re the same object.

**is** Checks whether two variables point to the same object in memory.

In [5]:
a1 = 3
b1 = 6
print(a1 is b1) # checks if a1 and b1 are living in same memory address

False

In [136]:
a1 = 3
b1 = 6
print(a1 is not b1)

True

In [1]:
a1 = 3
b1 = 3
print(a1 is b1)

True

In [1]:
a1 = 3
b1 = a1
print(a1 is b1)

True

In [10]:
a = [1, 2, 3]
b = a
print(a is b)  # True (same object in memory)

c = [1, 2, 3]
print(a is c)  # False (same value, but different object)

True
False

In [11]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a is b)   # False — different objects in memory

c = a
print(a is c)   # True — both point to the same list object

False
True

In [ ]:
m = [1, 2, 3] # 0A1203CF
n = m

print(id(m)) # memory address (identity) of the object m.
print(id(n)) # memory address (identity) of the object n.

In [ ]:
m = [1, 2, 3] 
n = [1, 2, 3]

print(id(m)) # memory address (identity) of the object m.
print(id(n)) # memory address (identity) of the object n.

In [1]:
a2 = 'UNIVERSE'
b2 = 'universe'

In [14]:
print(a2 is b2)

NameError: name 'a2' is not defined

In [58]:
print(a2 is not b2)

True

In [3]:
# Simulate checking weather data
temperature = None  # No data yet
# temperature = 30  # temperature received from the weather API

if temperature is None:
    print("Weather data not available yet")

if temperature is not None:
    print(f"The current temperature is {temperature}°C")

Weather data not available yet

### Order of Operators

#### Python Operator Precedence (Highest to Lowest)
Here’s the order in which Python evaluates operators:

- ** (Exponentiation)

- *, / (Multiplication and Division)

- +, - (Addition and Subtraction)

- Operators with the same precedence are evaluated left to right (except **, which is right to left).

In [15]:
a = 2
b = 3
c = 4

result = a + b * c
print(result)  # Output: 14

14

In [16]:
a = 2
b = 3
c = 4

result = (a + b) * c
print(result)  # Output: 20

20

In [17]:
result = 2 ** 3 * 4  # = (2**3) * 4 = 8*4 = 32
print(result)  # Output: 32

32

In [18]:
result = 10 + 6 / 2 * 3 - 1
print(result)  # Output: 18.0

18.0

In [62]:
a=30
b=10
c=20
d=5
e=(a+b)*c/d
print(e)

160.0