## Numeric Types
int → Whole numbers: x = 10

float → Decimal numbers: y = 10.5

complex → Complex numbers: z = 3 + 4j

In [4]:
a = 10
b = 3
c = 1.2
d = 1+2j

print(f"type of a is {type(a)}")
print(f"type of b is {type(b)}")
print(f"type of c is {type(c)}")
print(f"type of d is {type(d)}")

type of a is <class 'int'>
type of b is <class 'int'>
type of c is <class 'float'>
type of d is <class 'complex'>
######################
size of a is 28
size of b is 28
size of c is 24
size of d is 32

## 1. Integer (int) Operations

In [6]:
a = 10 # apple
b = 3 

res_add = a + b
print(f"addition:{res_add}")   # Addition → 13

res_sub = a - b
print(f"subtraction: {res_sub}")   # Subtraction → 7

res_mult = a * b # apple * price_of_apple
print(f"muptiplication:{res_mult}")   # Multiplication → 30

# I can perform calculation directly inside print method
print(a / b)   # Division → 3.3333
print(a // b)  # Floor Division → 3
print(a % b)   # Modulus (Remainder) → 1
print(a ** b)  # Exponentiation → 1000 (10^3)

addition:13
subtraction: 7
muptiplication:30
3.3333333333333335
3
1
1000

### 2. Float (float) Operations

In [4]:
x = 10.5
y = 2.5

print(x + y)   # Addition → 13.0
print(x - y)   # Subtraction → 8.0
print(x * y)   # Multiplication → 26.25
print(x / y)   # Division → 4.2
print(x // y)  # Floor Division → 4.0
print(x % y)   # Modulus → 0.5
print(x ** y)  # Exponentiation → 237.3046875

13.0
8.0
26.25
4.2
4.0
0.5
357.2508309997333

### 3. Complex Number (complex) Operations

In [5]:
c1 = 3 + 4j
c2 = 1 + 2j

print(c1 + c2)   # Addition → (4+6j)
print(c1 - c2)   # Subtraction → (2+2j)
print(c1 * c2)   # Multiplication → (-5+10j)
print(c1 / c2)   # Division → (2.2-0.4j)
print(abs(c1))   # Magnitude (modulus) → 5.0

(4+6j)
(2+2j)
(-5+10j)
(2.2-0.4j)
5.0

### 4. Mixed Operations (int + float + complex)

In [8]:
num1 = 5      # int
num2 = 2.5    # float
num3 = 1 + 3j # complex

print(num1 + num2)   # 7.5 (int + float → float)
print(num1 * num3)   # (5+15j) (int * complex → complex)
print(num2 + num3)   # (3.5+3j) (float + complex → complex)

7.5
(5+15j)
(3.5+3j)

## Sequence Types
str → String: s = "Hello"

list → Ordered, mutable: l = [1, 2, 3]

tuple → Ordered, immutable: t = (1, 2, 3)

### 1. String (str) Operations
A string is an immutable sequence of characters.

In [3]:
# String declaration
s = "Python is easy to learn" # or 'Python', str('Python'), str(90)

# Accessing elements
print(s[0])    # 'P' (First character)
print(s[2])    # 't'
print(s[-1]) # 'n' (Last character)
print(s[-4]) # 'e' (4th car from  end)
print("1111111111111111111111111111\n")

# Slicing : [start_position: end_position: step_size]. 
# start_position by default is 0, end_position by defualt last idx, step_size by default is 1
print(s[1:4:1]) # 'yth' (From index 1 to 3 with  step size 1) 
print(s[1:4])  # 'yth' (From index 1 to 3)
print(s[1:13:3]) # 'yoie' (From index 1 to 4 to 7 to 11.with  step size 1) 

print(s[:3])   # 'Pyt' (First 3 characters)
print(s[2:])   # 'thon is easy to learn' (From index 2 to end)

print(s[::-1]) # 'nrael ot ysae si nohtyP' (start from last idx and go backward)
print(s[-5:2:-1]) # 'l ot ysae si noh' (start from idx -5, 5th from last, go upto idx 2, with step size -1, backward)
print(s[-12:-5]) # 'asy to' (start from  idx -12 to idx -5, 12th from last to 5th last cahr)
print("22222222222222222222222222222\n")

# Slicing
msg = "Python is a easy to learn."
print(msg[1:8])  # 'ython i' (From index 1 to 8)
print(msg[:11])   # 'Python is a' (First 11 characters)
print(msg[8:])   # 's a easy to learn.' (From index 8 to end)
print("33333333333333333333333333333\n")

# String concatenation
new_str = s + " is fun!"
print(new_str)  # 'Python is fun!'

# String repetition
print(s * 3)  # 'PythonPythonPython'

# Checking substring
bool_th = "th" in s 
print(bool_th)  # True

print("xy" in s)  # False
print("44444444444444444444444444444\n")

# String methods
s = "  python is cool language " 
print(len(s))
print(s.lower())  
print(s.upper())  
print(s.replace("py", "my"))  
print(s.count('o'))
print(s.capitalize())
print(s.title())

print(s.lstrip()) # Removes empty spaces from left
print(s.rstrip())
print(s.strip()) #Removes all empty spaces from left and right
print("5555555555555555555555555555555\n")

msg = "today, is a good day, to learn something new."
lst = msg.split(",")
print(lst) # ['today', ' is a good day', ' to learn something new.']

P
t
n
e
1111111111111111111111111111

yth
yth
yoie
Pyt
thon is easy to learn
nrael ot ysae si nohtyP
l ot ysae si noh
asy to
22222222222222222222222222222

ython i
Python is a
s a easy to learn.
33333333333333333333333333333

Python is easy to learn is fun!
Python is easy to learnPython is easy to learnPython is easy to learn
True
False
44444444444444444444444444444

26
  python is cool language
  PYTHON IS COOL LANGUAGE
  mython is cool language
3
  python is cool language
  Python Is Cool Language
python is cool language
  python is cool language
python is cool language
5555555555555555555555555555555

['today', ' is a good day', ' to learn something new.']
today, is a good day, to learn something new.

In [2]:
# You cannot add numeric types to string
a = "7"
b = 5
res = a+b
print(res)

TypeError: can only concatenate str (not "int") to str

In [3]:
# what about multiply ???
# You cannot add numeric types to string
a = "7"
b = 5
res = a*b
print(res)

77777

In [ ]:
# python  is immutable
s='Republic'
s[0]='Z'
s # We get a error

### 2️. List (list) Operations
A list is an ordered, mutable collection of elements.

In [3]:
# List declaration
age = [10, 20, 30, 40, 50] 

print(age)
print(type(age))



# OPTIONAL
# my_numbers = list((1, 2, 3))  # Note: double parentheses!
# print(my_numbers)
# chars = list("hello")  # ['h', 'e', 'l', 'l', 'o']
# print(chars)

[10, 20, 30, 40, 50]
<class 'list'>

In [2]:
# what types of elements in list ?
l = [] # empty list
print(l)

l = ["apple", "banana","cucumber"] 
print(l)

l = [True, True, False]
print(l)

l = [20, "apple"] # list of integers, strings
print(l)

l = [ [20, "apple"], [1, 3, 4] ] # list of list
print(l)

fancy_l = [1, 3, '6', 3+7j, True, chars, [1,2,6], ]
print(fancy_l)

[]
['apple', 'banana', 'cucumber']
[True, True, False]
[20, 'apple']
[[20, 'apple'], [1, 3, 4]]
[1, 3, '6', (3+7j), True, ['h', 'e', 'l', 'l', 'o'], [1, 2, 6]]

In [7]:
numbers = [10, 20, 30, 40, 50] # age, income, houses, size of plot,etc

# Accessing elements
print(numbers[0])   # prints 1st number in the list 10
print(numbers[1])   # prints 2nd number in the list 20
print(numbers[3])   # prints 4th number in the list 40

print(numbers[-1])  # access last number 50
print("1111111111111111111111111111\n")

# Slicing
print(numbers[1:3])  # slice 2nd number to 3rd number: [20, 30]
print(numbers[:3])   # slice [10, 20, 30]
print(numbers[2:])   # slice from index 2 to last [30, 40, 50]
print(numbers[::2]) # from begin to end with step size =2
print(numbers[::-1]) # reverse
print("222222222222222222222222222222\n")

10
20
40
50
1111111111111111111111111111

[20, 30]
[10, 20, 30]
[30, 40, 50]
[10, 30, 50]
[50, 40, 30, 20, 10]
222222222222222222222222222222

In [19]:
# List modification
numbers = [10, 20, 30, 40, 50]
numbers.append(17)  # Adds 17 at the end. NOTE: Try appending string, list, empty string, etc
print(f"numbers after append: {numbers}")  

numbers = [10, 20, 30, 40, 50]
numbers.insert(3, 25)  # Insert 25 at index 3
print(f"numbers after insert: {numbers}")  

numbers = [10, 20, 30, 40, 50]
numbers.remove(50) # works on actual number
print(f"numbers after remove: {numbers}")

numbers = [10, 20, 30, 40, 50]
numbers.pop(2) # works on actual index
print(f"numbers after pop: {numbers}")


#########Assignemnt############
# How to put -6 in the begining of list ?
numbers = [10, 20, 30, 40, 50]
numbers.insert(0,-6)
print(f"numbers after insert in the begn: {numbers}")

## list is mutable
numbers = [10, 20, 30, 40, 50]
numbers[2] = 25
print(f"mutablility: numbers: {numbers}")

numbers after append: [10, 20, 30, 40, 50, 17]
numbers after insert: [10, 20, 30, 25, 40, 50]
numbers after remove: [10, 20, 30, 40]
numbers after pop: [10, 20, 40, 50]
numbers after insert in the begn: [-6, 10, 20, 30, 40, 50]
mutablility: numbers: [10, 20, 25, 40, 50]

In [18]:
# difference between  append and extend
fruits = ['apple', 'banana']
fruits.append(['cherry', 'date'])
print(fruits)

fruits = ['apple', 'banana']
fruits.extend(['cherry', 'date']) # extend unpackss the list
print(fruits)

['apple', 'banana', ['cherry', 'date']]
['apple', 'banana', 'cherry', 'date']

In [6]:
numbers = [-6, 10, 20, 30, 25, 40, 17]
# Sorting
numbers.sort()
print(f"After sort: {numbers}")  

# Reversing
numbers.reverse()
print(f"After reverse: {numbers}")

After sort: [-6, 10, 17, 20, 25, 30, 40]
After reverse: [40, 30, 25, 20, 17, 10, -6]

In [13]:
numbers = [10, 20, 30, 40, 50]

# List concatenation
more_numbers = [77, 88, 11]
new_numbers = numbers + more_numbers
print(f"After list concatenation: {new_numbers}")  

# List repetition
repeat_numbers = numbers * 2
print(f"After list repetition: {repeat_numbers}")

After list concatenation: [10, 20, 30, 40, 50, 77, 88, 11]
After list repetition: [10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [9]:
# lets create a list of 10 consecutive int
l = list(range(1,11))
print(f"range: {l}")

#lets create a list numbers starting with 1, skipping 3 values , and print upto 10
l_skip = list(range(1,11,3))
print(f"range: {l_skip}")

range: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
range: [1, 4, 7, 10]

### built-in operations and functions on  list

In [4]:
numbers = [70, 20, 10, 50, 30, 40]

print(min(numbers))
print(max(numbers))
print(sum(numbers))
print(len(numbers))
print(sorted(numbers)) # NOTE: it would not work if list contains int, str, bool mixed type

average = sum(numbers)/len(numbers)
print(average)

10
70
220
6
[10, 20, 30, 40, 50, 70]
36.666666666666664

## Nested List

In [2]:
# 1. Basic Nested List

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [7, 8, 9, 1]
]

print(matrix) # This is a 2D list (matrix) with 3 rows and 4 columns

[[1, 2, 3, 4], [5, 6, 7, 8], [7, 8, 9, 1]]

In [3]:
# 2. Accessing Elements in a Nested List
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix[0])      # First row -> [1, 2, 3]
print(matrix[1][2])   # Second row, third element -> 6

[1, 2, 3]
6

In [4]:
# 3. Looping Through a Nested List
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for row in matrix:
    for element in row:
        print(element, end=" ")
    print()  # New line after each row

1 2 3
4 5 6
7 8 9

In [5]:
# 4. Modifying a Nested List
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

matrix[0][1] = 99  # Change second element of the first row

print(matrix)

[[1, 99, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
st = " " # or use comma
new_str = st.join(["hello", "Bob", "Julia"])
print(new_str)

hello Bob Julia

### 3️. Tuple (tuple) Operations
- A tuple is an ordered, immutable collection of elements.
- can contain duplicates
- are heterogenous (can contain elements of different kind)

In [5]:
# Tuple declaration
tpl = ("apple", "banana", "cherry")
print(tpl)
print(type(tpl))


tpl = "apple", "banana", "cherry"
print(tpl)
print(type(tpl))

tpl = tuple(["apple", "banana", "cherry"])  # from list
print(tpl)
print(type(tpl))

one_item_tpl = ("apple",) # mind the comma for it creates tuples
print(one_item_tpl)
print(type(one_item_tpl))

# NOTE: # This is a string and not a tuple!
tpl = ("apple")  
print(tpl)
print(type(tpl))

('apple', 'banana', 'cherry')
<class 'tuple'>
('apple', 'banana', 'cherry')
<class 'tuple'>
('apple', 'banana', 'cherry')
<class 'tuple'>
('apple',)
<class 'tuple'>
apple
<class 'str'>

In [ ]:
# number tuple
t = (10, 20, 25.75)
print(t)

# string tuple
t = ('Jessa', 'Emma', 'Kelly')
print(t)

# mixed type tuple
t = ('Jessa', 30, 45.75, [25, 78])
print(t)

# create a tuple using tuple() constructor
t = tuple(('Jessa', 30, 45.75, [23, 78]))
print(t)

In [11]:
# Tuple declaration
fruits = ("apple", "banana", "cherry")

# Accessing elements
print(fruits[0])  # 'apple'
print(fruits[-1])  # 'cherry'
print(fruits[-2])  # 'cherry'

# Slicing
print(fruits[1:])  # ('banana', 'cherry')

# Tuple concatenation
new_fruits = fruits + ("orange", "grape", "apple")
print(new_fruits)  # ('apple', 'banana', 'cherry', 'orange', 'grape')

# Tuple repetition
print(fruits * 2)  # ('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Checking existence
print("banana" in fruits)  # True

# Finding index
print(fruits.index("cherry"))  # 2

# Tuple length
print(len(fruits))  # 3

apple
cherry
banana
('banana', 'cherry')
('apple', 'banana', 'cherry', 'orange', 'grape', 'apple')
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
True
2
3

In [6]:
t = (10, 20, 30, 40, 50)

# get index of item 30
position = t.index(30)
print(position)

2

In [6]:
# tuple are immutable
planets = ["venus", "uranus", "earth"]
planets[1] = "jupyter" # list are mutable
print(planets)

planets = ("venus", "uranus", "earth")
planets[1] = "jupyter" # tuple are immutable

['venus', 'jupyter', 'earth']

TypeError: 'tuple' object does not support item assignment

In [9]:
# If one of the items is itself a mutable data type as a list, then we 
# can change its values in the case of a nested tuple.
tuple1 = (10, 20, [25, 75, 85])
# before update
print(tuple1)

# modify last item's first value
tuple1[2][0] = 250
# after update
print(tuple1)

(10, 20, [25, 75, 85])
(10, 20, [250, 75, 85])

In [10]:
tuple1 = (10, 20, 60, 30, 60, 40, 60)
count = tuple1.count(60) # Count all occurrences of item 60
print(count)

count = tuple1.count(600)
print(count)

3
0

In [5]:
tuple1 = (10, 20, 60, 30, 60, 40, 60)
print(min(tuple1))
print(max(tuple1))
print(sum(tuple1))
print(len(tuple1))

10
60
280
7