### Sets:
- A set is an **unordered, mutable** collection of elements.
- Contains **no duplicates**. In other words, it contains **unique elements**. 
- A set can contain elements of different data types as long as elements are str, int, float or bool. A set cannot contain list, tuple or dict.
- Does not support indexing or slicing

#### Use Case:
```
- When you need to eliminate duplicates.
- When doing set operations like union, intersection, difference.
- Useful for membership testing (if x in my_set) — fast lookup.
```

### 1️. Creating set using { }

In [23]:
even = { 8, 4, 10, 2 }
print(even) # elements are not printed in the same order in which they were entered
print(type(even))
print("############")

{8, 10, 2, 4}
<class 'set'>
############
{8, 10, 2, 4}
<class 'set'>

In [1]:
# create set from elements of a list or tuple

l = ["mars", "jupyter", "saturn", "mars"] # a list

planets = set(l) # on list
print(planets)  

#####################
t = ("mars", "jupyter", "saturn", "mars") # a tuple

planets = set(t) # on tuple
print(planets)

{'jupyter', 'mars', 'saturn'}
{'jupyter', 'mars', 'saturn'}

In [3]:
# A simple but useful application of set:  You have list of items that contain some duplicate entries. Remove them using set.

emails = ["user1@example.com", "user2@example.com", "user1@example.com", "user1@example.com"]
unique_emails = set(emails)

print(unique_emails)

{8, 10, 2, 4}
{'user2@example.com', 'user1@example.com'}

In [26]:
# cannot access elements of set using index: 'set' object is not subscriptable
planets = {"mars", "jupyter", "saturn" } 
print(planets[2])

TypeError: 'set' object is not subscriptable

### 2️. Adding and Removing Elements from a set
Scenario: Managing a guest list for an event.

In [28]:
# Let look at few of them

# add and remove elements

guests = {"Sarah", "Wurtzberger", "Connor", "Shamlodhiya"}

guests.add("Ravinder")  # Add a guest
print(guests)

##############
guests.remove("Connor")  # Remove a guest
print(guests)

{'David', 'Charlie', 'Wurtzberger', 'Sarah'}
{'David', 'Wurtzberger', 'Sarah'}

### 3️. Set Operations (Union, Intersection, Difference)
Scenario: Finding common and unique students in two classes.

In [6]:
# Union, Intersection, Difference

class_art = {"Alice", "Bob", "Charlie", "Zena"}
class_gym = {"Bob", "David", "Zena", "Geeta"}

# Union (All students)
print("union       :", class_art.union(class_gym))  
print("union       :", class_art | class_gym)  

# Intersection (Students in both classes)
print("intersection:", class_art.intersection(class_gym))  
print("intersection:", class_art & class_gym)  

# Difference (Students only in class art and not in gym class)
print("difference1 :", class_art.difference(class_gym))
print("difference1 :", class_art - class_gym)

# Difference (Students only in class gym and not in art class)
print("difference2 :", class_gym.difference(class_art))  
print("difference2 :", class_gym - class_art)

union       : {'Alice', 'Geeta', 'David', 'Bob', 'Charlie', 'Zena'}
intersection: {'Bob', 'Zena'}
difference1 : {'Alice', 'Charlie'}
difference2 : {'Geeta', 'David'}

In [ ]:
# isdisjoint
a = {1, 2, 3}
b = {4, 5, 6}
c = {2, 4}

print(a.isdisjoint(b))  # True -> no common elements
print(a.isdisjoint(c))  # False -> 2 is common

In [ ]:
# issubset
a = {1, 2, 3}
b = {1, 2}
c = {1, 2, 3, 4}

print(b.issubset(a))  # True -> b is subset of a
print(a.issubset(c))  # True -> all elements of a are in c
print(c.issubset(a))  # False -> 4 is not in a

### 4️. Checking Membership in a set
Scenario: Checking if an element exists in a set.

In [34]:
# Checking if an element exists in a set.
word_set = {"python", "java", "c++", "javascript"}

srch = 'python'
if srch in word_set:
    print(f"{srch} is in the set.")
else:
    print(f"{srch} is NOT in the set.")

python5555 is NOT in the set.

## 5. min, max, sum, len

In [ ]:
# set:
numbers = { 30, 20, 40, 50, 10, 20 }
print(f"numbers: {numbers}")

print(min(numbers))
print(max(numbers))
print(sum(numbers))
print(len(numbers))

# a simple application:
average = sum(numbers) / len(numbers)
print(average)