# Sets: container for data
- not ordered
- contains unique elements. No duplicates

### 1️. Creating set using { }

In [23]:
even = { 8, 4, 10, 2 }
print(even) # elements are not printed in the same order in which they were entered
print(type(even))
print("############")

{8, 10, 2, 4}
<class 'set'>
############
{8, 10, 2, 4}
<class 'set'>

In [25]:
# create set from elements of a list or tuple

l = ["mars", "jupyter", "saturn"] # a list

planets = set(l) # on list
print(planets)  

#####################
t = ("mars", "jupyter", "saturn") # a tuple

planets = set(t) # on tuple
print(planets)

{'mars', 'jupyter', 'saturn'}
{'mars', 'jupyter', 'saturn'}

In [3]:
# Sets remove duplicates: lets add duplicates and set() will remove them
even = {8, 4, 10, 2, 4, 4} 
print(even)

###################
# A simple but useful application of set:  You have list of items that contain some duplicate entries. Remove them using set.

emails = ["user1@example.com", "user2@example.com", "user1@example.com", "user1@example.com"]
unique_emails = set(emails)

print(unique_emails)

{8, 10, 2, 4}
{'user2@example.com', 'user1@example.com'}

In [26]:
# cannot access elements of set using index: 'set' object is not subscriptable
planets = {"mars", "jupyter", "saturn" } 
print(planets[2])

TypeError: 'set' object is not subscriptable

### 2️. Adding and Removing Elements from a set
Scenario: Managing a guest list for an event.

In [28]:
# add and remove elements

guests = {"Sarah", "Wurtzberger", "Charlie"}

guests.add("David")  # Add a guest
print(guests)

##############
guests.remove("Charlie")  # Remove a guest
print(guests)

{'David', 'Charlie', 'Wurtzberger', 'Sarah'}
{'David', 'Wurtzberger', 'Sarah'}

### 3️. Set Operations (Union, Intersection, Difference)
Scenario: Finding common and unique students in two classes.

In [6]:
# Union, Intersection, Difference

class_art = {"Alice", "Bob", "Charlie", "Zena"}
class_gym = {"Bob", "David", "Zena", "Geeta"}

# Union (All students)
print("union       :", class_art | class_gym)  

# Intersection (Students in both classes)
print("intersection:", class_art & class_gym)  

# Difference (Students only in class art and not in gym class)
print("difference1 :", class_art - class_gym)

# Difference (Students only in class gym and not in art class)
print("difference2 :", class_gym - class_art)

union       : {'Alice', 'Geeta', 'David', 'Bob', 'Charlie', 'Zena'}
intersection: {'Bob', 'Zena'}
difference1 : {'Alice', 'Charlie'}
difference2 : {'Geeta', 'David'}

### 4️. Checking Membership in a set
Scenario: Checking if an element exists in a set.

In [34]:
# Checking if an element exists in a set.
word_set = {"python", "java", "c++", "javascript"}

srch = 'python'
if srch in word_set:
    print(f"{srch} is in the set.")
else:
    print(f"{srch} is NOT in the set.")

python5555 is NOT in the set.