# Sets
- not ordered
- contains unique elements. No duplicates

### 1️. Creating set using { }

In [23]:
even = { 8, 4, 10, 2 }
print(even) # elements are not printed in the same order in which they were entered
print(type(even))
print("############")

# Sets remove duplicates: lets add duplicates and they are removed
even = {8, 4, 10, 2, 4, 4} 
print(even)

{8, 10, 2, 4}
<class 'set'>
############
{8, 10, 2, 4}
<class 'set'>

In [25]:
# create set from elements of a list or tuple

l = ["mars", "jupyter", "saturn"] # a list

planets = set(l) # on list
print(planets)  

#####################
t = ("mars", "jupyter", "saturn") # a tuple

planets = set(t) # on tuple
print(planets)

{'mars', 'jupyter', 'saturn'}
{'mars', 'jupyter', 'saturn'}

In [35]:
# A simple but useful application of set:  You have list of items that contain some duplicate entries. Remove them using set.

emails = ["user1@example.com", "user2@example.com", "user1@example.com", "user1@example.com"]
unique_emails = {emails}

print(unique_emails)

{'user2@example.com', 'user1@example.com'}

In [26]:
# cannot access elements of set using index: 'set' object is not subscriptable
planets = {"mars", "jupyter", "saturn" } 
print(planets[2])

TypeError: 'set' object is not subscriptable

### 2️. Adding and Removing Elements from a set
Scenario: Managing a guest list for an event.

In [28]:
guests = {"Sarah", "Wurtzberger", "Charlie"}

guests.add("David")  # Add a guest
print(guests)


guests.remove("Charlie")  # Remove a guest
print(guests)

{'David', 'Charlie', 'Wurtzberger', 'Sarah'}
{'David', 'Wurtzberger', 'Sarah'}

### 3️. Set Operations (Union, Intersection, Difference)
Scenario: Finding common and unique students in two classes.

In [31]:
class_A = {"Alice", "Bob", "Charlie", "Zena"}
class_B = {"Bob", "David", "Zena", "Geeta"}

# Union (All students)
print(class_A | class_B)  

# Intersection (Students in both classes)
print(class_A & class_B)  

# Difference (Students only in class A)
print(class_A - class_B)

# Difference (Students only in class B)
print(class_B - class_A)

{'David', 'Geeta', 'Alice', 'Bob', 'Zena', 'Charlie'}
{'Zena', 'Bob'}
{'Alice', 'Charlie'}
{'David', 'Geeta'}

### 4️. Checking Membership in a set
Scenario: Checking if an element exists in a set.

In [34]:
word_set = {"python", "java", "c++", "javascript"}

srch = 'python5555'
if srch in word_set:
    print(f"{srch} is in the set.")
else:
    print(f"{srch} is NOT in the set.")

python5555 is NOT in the set.