# For Loop

 - range, list comprehension, nested for
 - practice question

In [28]:
print("hello")
print("hello")
print("hello")
print("hello")

hello
hello
hello
hello

In [18]:
for i in [0,1,2,3]:
    print("hello")

hello
hello
hello
hello

In [11]:
# where does the for loop ends, thats decided by indentation
for i in [0,1,2,3]:
    print("hello")
    print("...I am trapped in for loop") 


print("I am out of for loop")

hello
...I am trapped in for loop
hello
...I am trapped in for loop
hello
...I am trapped in for loop
hello
...I am trapped in for loop
I am out of for loop

In [12]:
# Now comes range to iterate many many times..say 100
# range(start, stop, step): Generates a sequence from start up to (but not including) stop, incrementing by step.
# default step=1
for i in range(0,4): 
    print("hello")
    print("...I am trapped in for loop") 

print("I am out of for loop")

# change 4 -> 10, etc

hello
...I am trapped in for loop
hello
...I am trapped in for loop
hello
...I am trapped in for loop
hello
...I am trapped in for loop
I am out of for loop

In [8]:
for i in range(0,8):
    print(f"The i value is {i}")

The i value is 0
The i value is 1
The i value is 2
The i value is 3
The i value is 4
The i value is 5
The i value is 6
The i value is 7

In [9]:
for i in range(0,8,3):
    print(f"The i value is {i}")

The i value is 0
The i value is 3
The i value is 6

In [10]:
for i in range(100,150,3):
    print(i,end=" ")

100 103 106 109 112 115 118 121 124 127 130 133 136 139 142 145 148

In [3]:
# Aside: I want to create a list of numbers from 0 to 3
list_range = list(range(0,4))
print(list_range)
print("################")

# Aside: I want to create a list of numbers like 0, 5, 10, 15, 20, etc.
list_range = list(range(0,21,5))
print(list_range)
print("################")


list_range = list(range(0,4))
for i in list_range:
    print("hello")
    print("...sita")
print("I have exited the loop")

[0, 1, 2, 3]
[0, 5, 10, 15, 20]
hello
...sita
hello
...sita
hello
...sita
hello
...sita
I have exited the loop

In [18]:
#prints in new line
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [17]:
# prints in 1 line
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit, end = " ")

apple banana cherry

In [6]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(f"I love {fruit}")

I love apple
I love banana
I love cherry

### for loop practice

In [5]:
# I want to see the data type of all elements in a list
assorted_list = [4, 5.98, True, "ad astra", ]
for e in assorted_list:
    print(type(e))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [3]:
# I want to see the data type of all elements in a list
assorted_list = [4, 5.98, True, "ad astra", {'ash': 1234}, [2,4,7] ]
for e in assorted_list:
    print(type(e))

<class 'int'>
<class 'bool'>
<class 'str'>
<class 'dict'>
<class 'list'>

In [7]:
# Now I want to print the element and its data type: 
assorted_list = [1, True, "ad astra", {'ash': 1234}, [2,4,7] ]
for e in assorted_list:
    print(f"Element is {e}. Data type is {type(e)}")
    
print("######I am out of for loop############")

Element is 1. Data type is <class 'int'>
Element is True. Data type is <class 'bool'>
Element is ad astra. Data type is <class 'str'>
Element is {'ash': 1234}. Data type is <class 'dict'>
Element is [2, 4, 7]. Data type is <class 'list'>
######I am out of for loop############

In [13]:
# lets print the element of tuple or set
# create a tuple of height of kids
height = (4, 3, 3, 4, 5, 2)

# iterate a tuple
for i in height:
    print(i)
print("###################")

# create a  set
height = {4, 3, 3, 4, 5, 2 }

# iterate a tuple
for i in height:
    print(i)

4
3
3
4
5
2
###################
2
3
4
5

In [34]:
# Lets print a scaled numbers by factor 2
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    scaled_n = n*2
    result.append(scaled_n)

print(result)

[2, 4, 6, 8, 10]

In [19]:
# Lets add numbers from 1 to 4 (500)
sum = 0
for i in range(1, 5): # start with 1
    sum = sum + i
print(f"The sum is {sum}")
print("##############")

# lets add even numbers: 2 + 4 + 6 + 8
sum = 0
for i in range(2, 9, 2): # start with 2, step size = 2
    sum = sum + i
print(f"The sum is {sum}")
print("##############")

# lets add odd numbers: 1 + 3 + 5 + 7
sum = 0
for i in range(1, 8, 2): # start with 1, step size = 2
    sum = sum + i
print(f"The sum is {sum}")
print("##############")

# lets add numbers: 11 + 16 + 21 + 26 + 31
sum = 0
for i in range(11, 32, 5): # start with 11, step size = 5
    sum = sum + i
print(f"The sum is {sum}")
print("##############")

The sum is 10
##############
The sum is 20
##############
The sum is 16
##############
The sum is 105
##############

In [20]:
# lets print the square of following numbers
numbers = [3, 5, 4, 10, 7]

for i in numbers: 
    square = i ** 2 # ** exponent operator
    print(f"Square of {i} is: {square}")

Square of 3 is: 9
Square of 5 is: 25
Square of 4 is: 16
Square of 10 is: 100
Square of 7 is: 49

### list Comprehension

In [33]:
# 1. Basic List Comprehension

#create a list of 10 numbers
result = []
for n in range(1,11):
    result.append(n)

print(f"numbers: {result}")
print("####")

# Lets redo above using list Comprehension
result = [n for n in range(1, 11)]
print(f"numbers: {result}")
print("#######################################")


# Lets print a scaled numbers by factor 2 w/o list compr.
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    scaled_n = n*2
    result.append(scaled_n)

print(result)
print("####")

# Lets redo above using list Comprehension
numbers = [1, 2, 3, 4, 5]
result = [n * 2 for n in numbers]  # Multiply each element by 2
print(result)  # Output: [2, 4, 6, 8, 10]
print("#######################################")


# Create a list of "times 3" from 1 to 10.
times3 = [x*3 for x in range(1, 11)]
print(f"times3: {times3}")

# Create a list of squares from 1 to 10.
squares = [x**2 for x in range(1, 11)]
print(f"squares: {squares}")

numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
####
numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#######################################
[2, 4, 6, 8, 10]
####
[2, 4, 6, 8, 10]
#######################################
times3: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
# 2. List Comprehension with Condition...here we print all even numbers
# Get even numbers from 1 to 10.

numbers = [n for n in range(1, 11)]
print(f"numbers: {numbers}")

evens = [n for n in range(1, 11) if n % 2 == 0]
print(f"evens:   {evens}")

numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens:   [2, 4, 6, 8, 10]

In [37]:
# 3. List Comprehension with if-else...here we print even or odd
numbers = [n for n in range(1, 11)]
print(f"numbers: {numbers}")

labels = ["Even" if n % 2 == 0 else "Odd" for n in range(1, 11)]
print(labels)

numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [38]:
# 5. Real-World Example: Extract Vowels from a String in order they appear.
sentence = "It is snowing in  mountains. This is awesome"
vowels = [char for char in sentence if char.lower() in 'aeiou']
print(vowels)

['I', 'i', 'o', 'i', 'i', 'o', 'u', 'a', 'i', 'i', 'i', 'a', 'e', 'o', 'e']

## practice "for with if"

In [26]:
# count number of char a in sentence
name = "saturn to mars to earth"
count = 0
for char in name:
    if char == 'a':  # Check if the character is 'a'
        count += 1   # Increment the count if it is 'a'

print('Total number of a is:', count)

print("################")
# count the number of vowels in a given sentence.
# Lets change the sentence = "The quick brown fox jumps over the lazy dog"
sentence = "The slow white fox could not jump over the little dog"
count = 0
vowels = "aeiouAEIOU"

for char in sentence:
    if char in vowels:  # Check if the character is a vowel
        count += 1

print("Total number of vowels:",count)

print("################")
# check if certain words are present in a given text.
# copy and paste poem from  https://en.wikipedia.org/wiki/Lucy_Gray
text = """
LUCY GRAY

Oft I had heard of Lucy Gray,
And, when I crossed the Wild,
I chanced to see at break of day
The solitary Child.

No mate, no comrade Lucy knew;
She dwelt on a wide Moor,
-The sweetest Thing that ever grew
Beside a human door!

"""
keywords = ["human", "dwelt", "bank", "Jupyter"]
found_keywords = []

for k in keywords:
    if k in text:  # Check if the word  k is in the text
        found_keywords.append(k)

print("Found keywords:", found_keywords)

Total number of a is: 3
################
Total number of vowels: 15
################
Found keywords: ['human', 'dwelt']

## practice for

In [65]:
# Prints a pyramid shape with a specified number of rows.

rows = 3 # 4 , 5, 6
print(f"Pyramid with {rows} rows:")
for i in range(rows):
    # Calculate the number of spaces before the asterisks
    spaces = rows - 1 - i

    # Calculate the number of asterisks in the current row
    asterisks = 2 * i + 1

    # Print the spaces and then the asterisks
    print(" " * spaces + "*" * asterisks)

Pyramid with 3 rows:
  *
 ***
*****

In [66]:
# Prints an inverted pyramid shape with a specified number of rows.

rows = 3
print(f"\nInverted Pyramid with {rows} rows:") 
for i in range(rows):
    # Calculate the number of spaces before the asterisks
    spaces = i
    
    # Calculate the number of asterisks in the current row
    asterisks = 2 * (rows - 1 - i) + 1
    
    # Print the spaces and then the asterisks
    print(" " * spaces + "*" * asterisks)

Inverted Pyramid with 3 rows:
*****
 ***
  *

In [ ]:
# Prints a diamond shape with out nested for loop

# rows (int): The number of rows in the top half of the diamond.
#                 The total height will be 2 * rows - 1.
rows = 4
print(f"Diamond with {rows} top rows:")
# Top half of the diamond
for i in range(rows):
    spaces = rows - 1 - i
    asterisks = 2 * i + 1
    print(" " * spaces + "*" * asterisks)

# Bottom half of the diamond
for i in range(rows - 2, -1, -1):
    spaces = rows - 1 - i
    asterisks = 2 * i + 1
    print(" " * spaces + "*" * asterisks)

## Nested "for inside for"

In [50]:
# work backward...start with outer for loop and start adding inside for statement to see whats happening.
#step1
for outer in range(4): # Outer loop: iterates three times (0, 1, 2, 3)
    print("start outer")
    print(f"outer is {outer}")
    print("end outer\n")
print("##########")
# step2
for outer in range(4): # Outer loop: iterates three times (0, 1, 2, 3)
    print("start outer")
    print(f"outer is {outer}")
    for inner in range(3): # Inner loop: iterates two times (0, 1, 2) inside
        print(f"...inner is {inner}")
    print("end outer\n")

start outer
outer is 0
end outer

start outer
outer is 1
end outer

start outer
outer is 2
end outer

start outer
outer is 3
end outer

##########
start outer
outer is 0
...inner is 0
...inner is 1
...inner is 2
end outer

start outer
outer is 1
...inner is 0
...inner is 1
...inner is 2
end outer

start outer
outer is 2
...inner is 0
...inner is 1
...inner is 2
end outer

start outer
outer is 3
...inner is 0
...inner is 1
...inner is 2
end outer

In [58]:
# I wanted to see what following loop is going to print.. and analyse this.
for i in range(4): # Outer loop: iterates three times (0, 1, 2, 3)
    for j in range(3): # Inner loop: iterates two times (0, 1, 2) for each i
        print(f"i: {i}, j: {j}")
    print("next\n")

# Nested loop: "for inside for"
# print("i: 0, j: 0")
# print("i: 0, j: 1")
# print("i: 0, j: 2")
# print("next")

# print("i: 1, j: 0")
# print("i: 1, j: 1")
# print("i: 1, j: 2")
# print("next")

# print("i: 2, j: 0")
# print("i: 2, j: 1")
# print("i: 2, j: 2")
# print("next")

# print("i: 3, j: 0")
# print("i: 3, j: 1")
# print("i: 3, j: 2")
# print("next")
# print("##########")

i: 0, j: 0
i: 0, j: 1
i: 0, j: 2
next

i: 1, j: 0
i: 1, j: 1
i: 1, j: 2
next

i: 2, j: 0
i: 2, j: 1
i: 2, j: 2
next

i: 3, j: 0
i: 3, j: 1
i: 3, j: 2
next

In [61]:
# What can I do with this ? Answer: Print multiplication table...start small

# trial and error1
for i in range(4): # Outer loop: iterates three times (0, 1, 2, 3)
    for j in range(3): # Inner loop: iterates two times (0, 1, 2) for each i
        result = i * j
        print(f"{i} x {j} = {result}")
    print("next\n")

print("####################")
# trial and error2
for i in range(1, 5): # CHANGED  
    for j in range(3):
        result = i * j
        print(f"{i} x {j} = {result}")  
    print()  # Print a blank line after each table
print("####################")

# trial and error3: SUCCESS
for i in range(1, 5):  
    for j in range(1, 4):
        result = i * j
        print(f"{i} x {j} = {result}")  
    print()  # Print a blank line after each table

0 x 0 = 0
0 x 1 = 0
0 x 2 = 0
next

1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
next

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
next

3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
next

####################
1 x 0 = 0
1 x 1 = 1
1 x 2 = 2

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4

3 x 0 = 0
3 x 1 = 3
3 x 2 = 6

4 x 0 = 0
4 x 1 = 4
4 x 2 = 8

####################
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12

In [62]:
# lets do some addition  with nested for loop
for i in range(1, 5):  
    for j in range(1, 4):
        result = i + j
        print(f"{i} + {j} = {result}")  
    print()  # Print a blank line after each table

1 + 1 = 2
1 + 2 = 3
1 + 3 = 4

2 + 1 = 3
2 + 2 = 4
2 + 3 = 5

3 + 1 = 4
3 + 2 = 5
3 + 3 = 6

4 + 1 = 5
4 + 2 = 6
4 + 3 = 7

In [55]:
# Prints a mirrored left-angled triangle.

print("*", end=" ")
print()

print("*", end=" ")
print("*", end=" ")
print()

print("*", end=" ")
print("*", end=" ")
print("*", end=" ")
print()

print("*", end=" ")
print("*", end=" ")
print("*", end=" ")
print("*", end=" ")
print()
print("##########")

# redo above using "for inside for" loop
rows = 4
print(f"\nMirrored Left-Angled Triangle with {rows} rows:")
# outer loop
for i in range(1, rows + 1):
    for j in range(1, i + 1): # inner loop
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
##########

Mirrored Left-Angled Triangle with 4 rows:
*
* *
* * *
* * * *

## while

```
while [boolean_expression]:
    stmt1
    stmt2
    .
    .
    stmtn
```

In [2]:
# 1. Basic while Loop

# print 1 2 3 4 5 on each newline
i = 1
while i <= 5:
    print(i)
    i += 1  # Increment i
print("#################")

# print 1 2 3 4 5 on one line
i = 1
while i <= 5:
    print(i, end=" ")
    i += 1  # Increment i

1
2
3
4
5
#################
1 2 3 4 5

In [9]:
# Print only even numbers: 2 4 6 8 10

#style1
num = 2
while num <= 10:
    print(num)
    num += 2
print("Done")
print("##############")

#style2
num = 0
while num < 10:
    num += 1
    if num % 2 == 0:  # Check if the number is even
        print(num)    
print("Done")
print("##############")

#style3
num = 0
while num < 10:
    num += 1
    if num % 2 != 0:
        continue  # Skip odd numbers
    print(num)
print("Done")
print("##############")

2
4
6
8
10
Done
##############
2
4
6
8
10
Done
##############
2
4
6
8
10
Done
##############

In [11]:
# 2. while Loop with User Input
num = int(input("Enter a number (0 to stop): "))
while num != 0:
    print(f"You entered: {num}")
    num = int(input("Enter a number (0 to stop): "))

print("Loop ended.")

Enter a number (0 to stop):  4

You entered: 4

Enter a number (0 to stop):  8

You entered: 8

Enter a number (0 to stop):  4

You entered: 4

Enter a number (0 to stop):  0

Loop ended.

In [13]:
# 3. Using break in a while Loop to exit the loop

# print 1 2 3 on each newline
i = 1
while i <= 6:
    if i == 4:
        print("Stopping at 4")
        break  # Exit the loop
    print(i)
    i += 1
print("##############")

# print 1 2 3 4 5 
i = 1
while True:
    print(i, end=" ")
    i += 1  # Increment i
    if i == 6:
        break

1
2
3
Stopping at 4
##############
1 2 3 4 5

In [15]:
# 4. Using continue in a while Loop to skip certain iteration

# print 1 2 4 5 on each newline...skips 3
i = 0
while i < 5:
    i += 1
    if i == 3:
        continue  # Skip iteration when i == 3
    print(i)
print("DONE#############")

# print 1 2 5 on each newline...skips 3,4
i = 0
while i < 5:
    i += 1
    if i == 3 or i == 4:
        continue  # Skip iteration when i == 3
    print(i)

1
2
4
5
DONE#############
1
2
5

In [ ]:
# 5. Infinite Loop (Press Ctrl+C to Stop) DANGEROUS
while True:
    print("This is an infinite loop. Press Ctrl+C to stop.")

## Real world example
ATM Withdrawal Simulation

This example simulates an ATM where a user can withdraw money until their balance runs out or they exit.

In [ ]:
balance = 1000  # Initial account balance

while True:
    print("\nATM Machine")
    print("1. Check Balance")
    print("2. Withdraw Money")
    print("3. Exit")
    
    choice = input("Enter your choice (1-3): ")
    
    if choice == "1":
        print(f"Your current balance is: ${balance}")
    
    elif choice == "2":
        amount = float(input("Enter amount to withdraw: "))
        
        if amount > balance:
            print("Insufficient funds! Try a smaller amount.")
        else:
            balance = balance - amount
            print(f"Withdrawal successful! New balance: ${balance}")
    
    elif choice == "3":
        print("Thank you for using the ATM. Goodbye!")
        break  # Exit the loop
    
    else:
        print("Invalid choice! Please enter 1, 2, or 3.")

ATM Machine
1. Check Balance
2. Withdraw Money
3. Exit

## more examples of "for, if, break, continue"

In [10]:
# find all numbers between 200 and 400 that are divisible by 3 "and" 7
for num in range(200, 401):
    if num % 3 == 0 and num % 7 == 0:
        print(num, end = " ")
print("\nI am out of 'for' life")

print("###############")
# find all numbers between 200 and 400 that are divisible by 3 "and" 5 "and" 7 
for num in range(200, 401):
    if num % 3 == 0 and num % 5 == 0 and num % 7 == 0:
        print(num, end = " ")

210 231 252 273 294 315 336 357 378 399
I am out of 'for' life
###############
210 315

In [2]:
# find all numbers between 200 and 400 that are divisible by 3 "or" 7
for num in range(200, 401):
    if num % 3 == 0 or num % 7 == 0:
        print(num, end = " ")

201 203 204 207 210 213 216 217 219 222 224 225 228 231 234 237 238 240 243 245 246 249 252 255 258 259 261 264 266 267 270 273 276 279 280 282 285 287 288 291 294 297 300 301 303 306 308 309 312 315 318 321 322 324 327 329 330 333 336 339 342 343 345 348 350 351 354 357 360 363 364 366 369 371 372 375 378 381 384 385 387 390 392 393 396 399

In [3]:
# find all numbers between 200 and 400 that are divisible by 3 and 7, and save them in  a list

#style1
result = []
for num in range(200, 401):
    if num % 3 == 0 and num % 7 == 0:
        result.append(num)
print(result)
print("##############")

#style2
result = [num for num in range(200, 401) if num % 3 == 0 and num % 7 == 0]
print(result)

[210, 231, 252, 273, 294, 315, 336, 357, 378, 399]
##############
[210, 231, 252, 273, 294, 315, 336, 357, 378, 399]

In [13]:
numbers = [1, 4, 7, 8, 15, 20, 35, 45, 55]
for i in numbers:
    if i > 15:
        # break the loop
        print("Good bye. I am breaking out of the loop. Thanks Mr If")
        break
    else:
        print(f"OMG: Somebody help me. Mr Else has trapped me in the loop {i}")

OMG: Somebody help me. Mr Else has trapped me in the loop 1
OMG: Somebody help me. Mr Else has trapped me in the loop 4
OMG: Somebody help me. Mr Else has trapped me in the loop 7
OMG: Somebody help me. Mr Else has trapped me in the loop 8
OMG: Somebody help me. Mr Else has trapped me in the loop 15
Good bye. I am breaking out of the loop. Thanks Mr If

In [16]:
# count number of chars in sentence
name = "saturn to mars"
count = 0
for char in name:
    if char != 'a':
        continue
    else:
        count = count + 1

print('Total number of a is:', count)
print("####################")


name = "The universe is a vast, poetic canvas of stars and silence, where every atom whispers the story of creation. "
count = 0
for char in name:
    if char != 's':
        continue
    else:
        count = count + 1

print(f'Total number of s is: {count}')

Total number of a is: 2
####################
Total number of s is: 10