# For Loop 
Allow you to perform repetitive tasks

```
for variable in iterable:
    # block of code
```

 - range, list comprehension, nested for
 - practice question

In [1]:
# step1: suppose we want to print hello 4 times:
print("hello")
print("hello")
print("hello")
print("hello")

#######################

# step2: Or I can print using for loop
for i in [0,1,2,3]: 
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
# where does the for loop ends: thats decided by indentation
# STEP1: 
for i in [0,1,2,3]:
    print("hello")
    print("I am trapped in for loop") 
    print("Finished")

print("###############")

# STEP2: Move last stmt out of for loop
for i in [0,1,2,3]:
    print("hello")
    print("I am trapped in for loop") 
print("Finished")

hello
I am trapped in for loop
Whats going on?
hello
I am trapped in for loop
Whats going on?
hello
I am trapped in for loop
Whats going on?
hello
I am trapped in for loop
Whats going on?
###############
hello
I am trapped in for loop
hello
I am trapped in for loop
hello
I am trapped in for loop
hello
I am trapped in for loop
Whats going on?

In [1]:

# What is this variable iterator i? Lets print this
# STEP1: 
for i in [0,1,2,3]: 
    print(i) # here I am accessing iterator i

print("###############")

# STEP2: Lets print a number in front of each line
for i in [0,1,2,3]:
    print(f"{i}:hello")
    print("I am trapped in for loop") 
print("Finished")


# STEP3: lets perform some math on elements: multiply all elements by 2
for i in [0,1,2,3]:
    res = i * 2
    print(f"{i} * 2 = {res} ")
    print("I am trapped in for loop") 
print("Finished")

0
1
2
3
###############
0:hello
I am trapped in for loop
1:hello
I am trapped in for loop
2:hello
I am trapped in for loop
3:hello
I am trapped in for loop
Finished
0 * 2 = 0
I am trapped in for loop
1 * 2 = 2
I am trapped in for loop
2 * 2 = 4
I am trapped in for loop
3 * 2 = 6
I am trapped in for loop
Finished

In [ ]:
#1) prints all elements of a list with each element on a newline
fruits = ["mango", "kiwi", "cherry", "jackfruit"]
for i in fruits:
    print(i)
    

print("#########################")

#2) prints all elements of a list with meaningful message with each fruit
fruits = ["mango", "kiwi", "cherry", "jackfruit"]
for e in fruits:
    print(f"I love {e}")

mango
kiwi
cherry
jackfruit
#########################
I love mango
I love kiwi
I love cherry
I love jackfruit

In [ ]:
# APPLICATIONS:
# step1: I want to see the data type of all elements in a list
l = [4, 5.98, True, "ad astra", ] # list with assorted element

#method1
print(type(l[0]))
print(type(l[1]))
print(type(l[2]))
print(type(l[3]))
print("###########################")

# step2: I can redo above using for loop
for i in l:
    print(type(i))
    
print("FINISHED")

print("###########################")
# step3: I want to redo above with a meaningful output
for i in l:
    print(f"The iterator i is {i} and its type is {type(i)}") # here I am printing element and its data type

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
###########################
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
######I am out of for loop############
###########################
The iterator i is 4 and its type is <class 'int'>
The iterator i is 5.98 and its type is <class 'float'>
The iterator i is True and its type is <class 'bool'>
The iterator i is ad astra and its type is <class 'str'>

# Range
### generally used with for loop

In [ ]:
# Now comes range: It helps to iterate many many times..say 100
# range(start, stop, step): Generates a sequence from start up to (but not including) stop, incrementing by step.
# default step=1

for i in range(0,4): # here start=0, stop=4
    print(f"{i} hello") # here I am accessing iterator i
    print("I am trapped in for loop") 
    
print("finished")

#################################
# Lets perform some math on elements: multiply all elements by 2
for i in [0,1,2,3]:
    res = i * 2
    print(f"{i} * 2 = {res} ")
    print("I am trapped in for loop") 
print("Finished")

##################################
# lets add the step in range: 0,4,8,12
for i in range(0,16,4): # start=0, stop=16, step=4
    print(f"The i value is {i}")

hello
I am trapped in for loop
hello
I am trapped in for loop
hello
I am trapped in for loop
hello
I am trapped in for loop
Whats going on?

100,103,106,109,112,115,118,121,124,127,130,133,136,139,142,145,148,

In [ ]:
# APPLICATION of range:

# APPLICATION: I want number: 100,103,106,109,112,115,118,121,124,127,130,133,136,139,142,145,148,
for i in range(100,150,3): # start=100, stop=150, step=3
    # print(f"The i value is {i}")
    print(i, end=",")

# l = [100,103,106,109,112,115,118,121,124,127,130,133,136,139,142,145,148,]
# print(l)
print("###################################")


#I want to create a list of numbers from 0 to 6
l2 = list(range(0,7)) 
print(l2)
print("################")

# Aside: I want to create a list of numbers like 5, 10, 15, 20, 25, 30, 35, 40, 45
# l = list(range(5,46,5))
# print(l)
# print("################")


# l = list(range(0,4))
# for i in l:
#     print("Hello.", end=" ")
#     print("How are you ?", end= " ")
#     print("...sita")
    
# print("I have exited the loop")

[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6]
################

In [2]:
# APPLICATION:
# lets print the square of following numbers
numbers = [3, 5, 4, 10, 7]

# method1
for i in numbers: 
    result = i ** 2 # ** exponent operator
    print(f"Square of {i} is: {result}")
print("##################")

# method2: remove the temporary variable
for i in numbers: 
    print(f"Square of {i} is: {i**2}")

Square of 3 is: 9
Square of 5 is: 25
Square of 4 is: 16
Square of 10 is: 100
Square of 7 is: 49
##################
Square of 3 is: 9
Square of 5 is: 25
Square of 4 is: 16
Square of 10 is: 100
Square of 7 is: 49

### for loop application

In [3]:
#  Create a list of numbers that are scaled by factor 2
numbers = [4, 9, 3, -7, 5]

#STEP1: First lets just print the multiples of 2
# for n in numbers:
#     res = n*2
#     print(res)

#STEP2: Now capture above values and store in an empty list
result = []
print(f"The initial result: {result}")
for n in numbers:
    res = n*2
    result.append(res)
    print(res)

print(f"The final result: {res}")

#STEP3: optimize...do not use extra variable scaled_n
result = []
print(f"The initial result: {result}")
for n in numbers:
    result.append(n*2)
    print(result)

print(f"The final result: {result}")

##############################################################

The initial result: []
8
18
6
-14
10
The final result: 10
The initial result: []
[8]
[8, 18]
[8, 18, 6]
[8, 18, 6, -14]
[8, 18, 6, -14, 10]
The final result: [8, 18, 6, -14, 10]

In [11]:
#APPLICATION: 
# problem1: lets give employees 20% hike all salaries
salary  = [10000, 30000, 60000, 70000, 23000, 42000]
print(f"Original salary:{salary}")

new_salary = []
for s in salary:
    hiked_s = s * .2 + s
    new_salary.append(hiked_s)

print(new_salary)
print("#########################")

# problem2: lets give employees 20% hike for salary <= 30000
salary  = [10000, 30000, 60000, 70000, 23000, 42000]

new_salary = []
for s in salary:
    if s <= 30000:
        hiked_s = s * .2 + s
        new_salary.append(hiked_s)
    else:
        new_salary.append(s)

print(new_salary)
print("#########################")

# problem3: lets give employees 20% hike for salary <= 30000 and 10% hike for all others
salary  = [10000, 30000, 60000, 70000, 23000, 42000]

new_salary = []
for s in salary:
    if s <= 30000:
        hiked_s = s * .2 + s
        new_salary.append(hiked_s)
    else:
        hiked_s = s * .1 + s
        new_salary.append(hiked_s)

print(new_salary)
print("#########################")

Original salary:[10000, 30000, 60000, 70000, 23000, 42000]
[12000.0, 36000.0, 72000.0, 84000.0, 27600.0, 50400.0]
#########################
[12000.0, 36000.0, 60000, 70000, 27600.0, 42000]
#########################
[12000.0, 36000.0, 66000.0, 77000.0, 27600.0, 46200.0]
#########################

In [ ]:
# APPLICATION

# Lets add numbers from 1 to 500
# STEP1: start with small range:  Lets add numbers from 1 to 4 
sum = 0
for i in range(1, 5): # start with 1
    # print(f"before: {sum}")
    sum = sum + i
    # print(f"after: {sum}")
    
print(f"The sum is {sum}")

# STEP2: scale it up Lets add numbers from 1 to 500
sum = 0
for i in range(1, 501): # start with 1
    sum = sum + i
    
print(f"The sum is {sum}")

print("##############")

# lets add even numbers: 4 + 6 + 8 + 10 + ..2000

# STEP1: start with small range: lets add even numbers: 4 + 6 + 8 + 10
sum = 0
for i in range(4, 11, 2): # start=4, stop=11, step size = 2
    print(f"{sum}")
    sum = sum + i
    print(f"..{sum}")
print(f"The sum is {sum}")

# STEP2: scale it up.lets add even numbers: 4 + 6 + 8 + 10 + ..2000
sum = 0
for i in range(4, 2001, 2): # start=4, stop=11, step size = 2
    sum = sum + i
    
print(f"The sum is {sum}")


print("##############")

# lets add odd numbers: 1 + 3 + 5 + 7 + 101
# STEP1: start small: 1 + 3 + 5 + 7
sum = 0
for i in range(1, 8, 2): # start with 1, step size = 2
    sum = sum + i
print(f"The sum is {sum}")

# STEP2: scale it up 1 + 3 + 5 + 7 + .. + 101
sum = 0
for i in range(1, 102, 2): # start with 1, step size = 2
    sum = sum + i
print(f"The sum is {sum}")
print("##############")

The sum is 10
The sum is 125250
##############
0
..4
4
..10
10
..18
18
..28
The sum is 28
The sum is 1000998
##############
The sum is 16
The sum is 2601
##############

# for + break 
- **break**: immediately exits the loop even if some iterations are left

In [ ]:
# for + break:

# 1) exit the loop after finding 7 in a list of numbers
numbers = [5, 23, 8, 43, 7, 3, 65, 16, 3, 14]

for i in numbers:
    print(f"checking {i}")
    if i == 7:
        print(f"Found target! Exiting the for loop")
        break # NOTE: comment it out to see what happens without it
print("Loop finished")
print("#####################")

checking 5
checking 23
checking 8
checking 43
checking 7
Found target! Exiting the for loop
Loop finished
#####################
checking 5...
checking 23...
checking 8...
checking 43...
checking 7...
checking 3...
checking 65...
checking 16...
checking 3...
checking 14...
Not found 70

In [ ]:
# APPLICATION: for+break: search for a number in a list:
numbers = [5, 23, 8, 43, 7, 3, 65, 16, 3, 14]

target = 70
is_found = False

for i in numbers:
    print(f"checking {i}...")
    if i == target:
        is_found = True
        print(f"Found {target}! Exiting the for loop")
        break # NOTE: comment it out to see what happens without it

if not is_found:
    print(f"Not found {target}")

# for + continue
- **continue**: skip the rest of the current loop iteration and move to the next iteration

In [ ]:
# 1) exit the loop after finding 7 in a list of numbers
numbers = [5, 23, 8, 43, 7, 3, 65, 16, 3, 14]

for i in numbers:
    if i == 65:
        print(f"skipping number {i}")
        continue # NOTE: comment it out to see what happens without it
    print(f"number: {i}")
        
print("Loop finished")
print("#####################")

number: 5
number: 23
number: 8
number: 43
number: 7
number: 3
skipping number 65
number: 16
number: 3
number: 14
Loop finished
#####################
number: 10
number: 28
number: 13
number: 48
number: 12
number: 8
skipping number 65
number: 21
number: 8
number: 19
Loop finished

In [ ]:
# APPLICATYION: for + contiue Add 5 to all numbers except when number=65
numbers = [5, 23, 8, 43, 7, 3, 65, 16, 3, 14]

for i in numbers:
    if i == 65:
        print(f"skipping number {i}")
        continue # NOTE: comment it out to see what happens without it
    print(f"number: {i+5}")
        
print("Loop finished")

# for + continue + break

In [15]:
# find first even numbers that is greater than 10
numbers = [5, 23, 8, 43, 7, 3, 65, 16, 3, 14]

for i in numbers:
    if i < 10:
        #skip numbers < 10
        continue

    if i%2 == 0:
        print(f"The first even number greater than 10 is {i}")
        break
        
        
print("search finished")

The first even number greater than 10 is 16
search finished

### list Comprehension

In [16]:
# 1. Basic List Comprehension

#step1: create a list of 10 numbers using range: NOTE print(range(1,11)) is not going to work
result = []
for n in range(1,11):
    result.append(n)

print(f"numbers: {result}")
print("####")

#step2: Lets redo above using list Comprehension
result = [n for n in range(1, 11)]
print(f"numbers: {result}")
print("#######################################")


#step1: Lets print a scaled numbers by factor 2 w/o list compr.
numbers = [4, 1, 5, 8, 7]

result = []
for n in numbers:
    result.append(n*2)

print(result)
print("####")

#step2: Lets redo above using list Comprehension
numbers = [4, 1, 5, 8, 7]
result = [n*2 for n in numbers]  # Multiply each element by 2
print(result)  
print("#######################################")


# Create a list of "times 3" from 1 to 10 using list comprehension
times3 = [n*3 for n in range(1, 11)]
print(f"times3: {times3}")

# Create a list of squares from 4 to 10.
squares = [n**2 for n in range(4, 11)]
print(f"squares: {squares}")

numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
####
numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#######################################
[8, 2, 10, 16, 14]
####
[8, 2, 10, 16, 14]
#######################################
times3: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
squares: [16, 25, 36, 49, 64, 81, 100]

In [ ]:
# SKIP: ADVANCED
# 2. List Comprehension with Condition...here we print all even numbers

# EXAMPLE1: Get even numbers from 1 to 10.

# STEP1: create list of all numbers
numbers   = [n for n in range(1, 11)]
print(f"numbers: {numbers}")

# STEP2: filter out numbers based on if condition
evens     = [n for n in range(1, 11) if n % 2 == 0]
print(f"evens:   {evens}")

#########################################

# EXAMPLE2: get me a list of numbers multiple of 3
n_times_3 = [n for n in range(1, 11) if n % 3 == 0]
print(f"n_times_3:   {n_times_3}")


# list of multiple of 3 and 5 : 15, 30, 45, etc all the way upto 100
list_3_and_5 = [n for n in range(1,101) if n%3 == 0 and n%5 == 0]
print(list_3_and_5)


# list of multiple of 3 or 5 : 3,5,6,9,10,12,... all the way upto 100
list_3_or_5 = [n for n in range(1,101) if n%3 == 0 or n%5 == 0]
print(list_3_or_5)

numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens:   [2, 4, 6, 8, 10]
n_times_3:   [3, 6, 9]
[15, 30, 45, 60, 75, 90]
[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99, 100]

In [18]:
# 3. List Comprehension with if-else...here we print even or odd
numbers = [3, 2, 8, 9, 11, 5, 2, 8, 10]
print(f"numbers: {numbers}")

labels = ["Even" if n%2 == 0 else "Odd" for n in numbers]
# labels = ["Even" for n in numbers if n % 2 == 0 else "Odd"] # does not work

print(labels)

numbers: [3, 2, 8, 9, 11, 5, 2, 8, 10]
['Odd', 'Even', 'Even', 'Odd', 'Odd', 'Odd', 'Even', 'Even', 'Even']

## for application

In [ ]:
# APPLICATION: Real-World Example: Extract Vowels from a String in order they appear.
sentence = "It is snowing in  mountains. This is awesome"
vowels = [c for c in sentence if c.lower() in 'aeiou']
print(vowels)


############################################################
# Prints a pyramid shape with a specified number of rows.

rows = 8 # 4 , 5, 6
print(f"Pyramid with {rows} rows:")
for i in range(rows):
    # Calculate the number of spaces before the asterisks
    spaces = rows - 1 - i

    # Calculate the number of asterisks in the current row
    num_asterisks = 2 * i + 1

    # Print the spaces and then the asterisks
    print(" " * spaces + "*" * num_asterisks)

Pyramid with 8 rows:
       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************

In [ ]:
# APPLICATION
# Prints an inverted pyramid shape with a specified number of rows.

rows = 3
print(f"\nInverted Pyramid with {rows} rows:") 
for i in range(rows):
    # Calculate the number of spaces before the asterisks
    spaces = i
    
    # Calculate the number of asterisks in the current row
    asterisks = 2 * (rows - 1 - i) + 1
    
    # Print the spaces and then the asterisks
    print(" " * spaces + "*" * asterisks)

Inverted Pyramid with 3 rows:
*****
 ***
  *

In [ ]:
# APPLICATION
# Prints a diamond shape with out nested for loop

# rows (int): The number of rows in the top half of the diamond.
#                 The total height will be 2 * rows - 1.
rows = 4
print(f"Diamond with {rows} top rows:")
# Top half of the diamond
for i in range(rows):
    spaces = rows - 1 - i
    asterisks = 2 * i + 1
    print(" " * spaces + "*" * asterisks)

# Bottom half of the diamond
for i in range(rows - 2, -1, -1):
    spaces = rows - 1 - i
    asterisks = 2 * i + 1
    print(" " * spaces + "*" * asterisks)

Diamond with 4 top rows:
   *
  ***
 *****
*******
 *****
  ***
   *

## Nested "for inside for"

In [4]:
# work backward...start with outer for loop and start adding inside for statement to see whats happening.
#step1
for outer in range(4): # Outer loop: iterates three times (0, 1, 2, 3)
    print("start outer")
    print(f"outer is {outer}")
    print("end outer\n")
print("##########")

# step2
for outer in range(4): # Outer loop: iterates three times (0, 1, 2, 3)
    print("start outer")
    print(f"outer is {outer}")
    for inner in range(3): # Inner loop: iterates two times (0, 1, 2) inside
        print(f"...inner is {inner}")
    print("end outer\n")

start outer
outer is 0
end outer

start outer
outer is 1
end outer

start outer
outer is 2
end outer

start outer
outer is 3
end outer

##########
start outer
outer is 0
...inner is 0
...inner is 1
...inner is 2
end outer

start outer
outer is 1
...inner is 0
...inner is 1
...inner is 2
end outer

start outer
outer is 2
...inner is 0
...inner is 1
...inner is 2
end outer

start outer
outer is 3
...inner is 0
...inner is 1
...inner is 2
end outer

In [24]:
# I wanted to see what following loop is going to print.. and analyse this.
for outer in range(4): # Outer loop: iterates three times (0, 1, 2, 3)
    for inner in range(3): # Inner loop: iterates two times (0, 1, 2) for each i
        print(f"outer: {outer}, inner: {inner}")
    print("next\n")

print("DONE")

outer: 0, inner: 0
outer: 0, inner: 1
outer: 0, inner: 2
next

outer: 1, inner: 0
outer: 1, inner: 1
outer: 1, inner: 2
next

outer: 2, inner: 0
outer: 2, inner: 1
outer: 2, inner: 2
next

outer: 3, inner: 0
outer: 3, inner: 1
outer: 3, inner: 2
next

DONE

In [25]:
# What can I do with this ? Answer: Print multiplication table...start small

# STEP1: trial and error1: This is does not work
for i in range(4): # Outer loop: iterates three times (0, 1, 2, 3)
    for j in range(3): # Inner loop: iterates two times (0, 1, 2) for each i
        result = i * j
        print(f"{i} x {j} = {result}")
    print("next\n")
print("####################")


# STEP2: trial and error2: This is does not work
for i in range(1, 5): # CHANGED  
    for j in range(3):
        result = i * j
        print(f"{i} x {j} = {result}")  
    print()  # Print a blank line after each table
print("####################")

# STEP3: trial and error3: SUCCESS
for i in range(1, 5):  
    for j in range(1, 4):# CHANGED  
        result = i * j
        print(f"{i} x {j} = {result}")  
    print()  # Print a blank line after each table
print("####################")


# STEP4: trial and error3: OPTIMIZE
for i in range(1, 5):  
    for j in range(1, 4): 
        print(f"{i} x {j} = {i*j}")  # REMOVED variable result
    print()  # Print a blank line after each table
print("####################")

0 x 0 = 0
0 x 1 = 0
0 x 2 = 0
next

1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
next

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
next

3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
next

####################
1 x 0 = 0
1 x 1 = 1
1 x 2 = 2

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4

3 x 0 = 0
3 x 1 = 3
3 x 2 = 6

4 x 0 = 0
4 x 1 = 4
4 x 2 = 8

####################
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12

####################
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12

####################

In [26]:
# OPTIONAL: lets do some addition with nested for loop
for i in range(1, 5):  
    for j in range(1, 4):
        result = i + j
        print(f"{i} + {j} = {result}")  
    print()  # Print a blank line after each table

1 + 1 = 2
1 + 2 = 3
1 + 3 = 4

2 + 1 = 3
2 + 2 = 4
2 + 3 = 5

3 + 1 = 4
3 + 2 = 5
3 + 3 = 6

4 + 1 = 5
4 + 2 = 6
4 + 3 = 7

In [ ]:
#APPLICATION for inside for: Prints a mirrored left-angled triangle.

print("*", end=" ")
print()

print("*", end=" ")
print("*", end=" ")
print()

print("*", end=" ")
print("*", end=" ")
print("*", end=" ")
print()

print("*", end=" ")
print("*", end=" ")
print("*", end=" ")
print("*", end=" ")
print()
print("##########")

# redo above using "for inside for" loop
rows = 4
print(f"\nMirrored Left-Angled Triangle with {rows} rows:")
# outer loop
for i in range(1, rows + 1):
    for j in range(1, i + 1): # inner loop
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
##########

Mirrored Left-Angled Triangle with 4 rows:
*
* *
* * *
* * * *

## (OPTIONAL): practice "for with if"

In [28]:
# count number of char a in sentence
name = "saturn to mars to earth"

count = 0
for char in name:
    if char == 'a':  # Check if the character is 'a'
        count += 1   # Increment the count if it is 'a'

print('Total number of a is:', count)

print("################")
# count the number of vowels in a given sentence.
# Lets change the sentence = "The quick brown fox jumps over the lazy dog"
sentence = "The slow white fox could not jump over the little dog"
count = 0
vowels = "aeiouAEIOU"

for char in sentence:
    if char in vowels:  # Check if the character is a vowel
        count += 1

print("Total number of vowels:",count)

print("################")
# check if certain words are present in a given text.
# copy and paste poem from  https://en.wikipedia.org/wiki/Lucy_Gray
text = """
LUCY GRAY

Oft I had heard of Lucy Gray,
And, when I crossed the Wild,
I chanced to see at break of day
The solitary Child.

No mate, no comrade Lucy knew;
She dwelt on a wide Moor,
-The sweetest Thing that ever grew
Beside a human door!

"""
keywords = ["human", "dwelt", "bank", "Jupyter"]
found_keywords = []

for k in keywords:
    if k in text:  # Check if the word  k is in the text
        found_keywords.append(k)

print("Found keywords:", found_keywords)

Total number of a is: 3
################
Total number of vowels: 15
################
Found keywords: ['human', 'dwelt']

## while

```
while [boolean_expression]:
    stmt1
    stmt2
    .
    .
    stmtn
```

**NOTE: In for loop we are encoding the iterator value**

In [1]:
# 1. Basic while Loop

# print 1 2 3 4 5 on each newline
i = 1
while i <= 5:
    print(i)
    i += 1  # Increment i
print("#################")

1
2
3
4
5
#################

In [30]:
# Print only even numbers: 2 4 6 8 10

#style1
num = 2
while num <= 10:
    print(num)
    num += 2
print("Done")
print("##############")

#style2
num = 0
while num < 10:
    num += 1
    if num % 2 == 0:  # Check if the number is even
        print(num)    
print("Done")
print("##############")

#style3
num = 0
while num < 10:
    num += 1
    if num % 2 != 0:
        continue  # Skip odd numbers
    print(num)
print("Done")
print("##############")

2
4
6
8
10
Done
##############
2
4
6
8
10
Done
##############
2
4
6
8
10
Done
##############

In [ ]:
# 2. while Loop with User Input
num = int(input("Enter a number (0 to stop): "))
while num != 0:
    print(f"You entered: {num}")
    num = int(input("Enter a number (0 to stop): "))

print("Loop ended.")

You entered: 1

In [2]:
# 3. Using break in a while Loop to exit the loop

# print 1 2 3 on each newline
i = 1
while i <= 6:
    if i == 4:
        print("Stopping at 4")
        break  # Exit the loop
    print(i)
    i += 1
print("##############")

1
2
3
Stopping at 4
##############

In [ ]:
# APPLICATIONS: Using continue in a while Loop to skip certain iteration

# print 1 2 4 5 on each newline...skips 3
i = 0
while i < 5:
    i += 1
    if i == 3:
        continue  # Skip iteration when i == 3
    print(i)
print("DONE#############")

# print 1 2 5 on each newline...skips 3,4
i = 0
while i < 5:
    i += 1
    if i == 3 or i == 4:
        continue  # Skip iteration when i == 3
    print(i)

1
2
4
5
DONE#############
1
2
5

In [ ]:
# 5. Infinite Loop (Press Ctrl+C to Stop) DANGEROUS

#infinite loop
# i = 1
# while i>0:
#     print("hello")
#     i += 2
    


# while True:
#     print("This is an infinite loop. Press Ctrl+C to stop.")

## Real world application
ATM Withdrawal Simulation

This example simulates an ATM where a user can withdraw money until their balance runs out or they exit.

In [ ]:
balance = 1000  # Initial account balance

while True:
    print("\nATM Machine")
    print("1. Check Balance")
    print("2. Withdraw Money")
    print("3. Exit")
    
    choice = input("Enter your choice (1-3): ")
    
    if choice == "1":
        print(f"Your current balance is: ${balance}")
    
    elif choice == "2":
        amount = float(input("Enter amount to withdraw: "))
        
        if amount > balance:
            print("Insufficient funds! Try a smaller amount.")
        else:
            # balance = balance - amount
            balance -= amount
            print(f"Withdrawal successful! New balance: ${balance}")
    
    elif choice == "3":
        print("Thank you for using the ATM. Goodbye!")
        break  # Exit the loop
    
    else:
        print("Invalid choice! Please enter 1, 2, or 3.")

ATM Machine
1. Check Balance
2. Withdraw Money
3. Exit

Enter your choice (1-3):  1

Your current balance is: $1000

ATM Machine
1. Check Balance
2. Withdraw Money
3. Exit

Enter your choice (1-3):  2
Enter amount to withdraw:  200

Withdrawal successful! New balance: $800.0

ATM Machine
1. Check Balance
2. Withdraw Money
3. Exit

Enter your choice (1-3):  3

Thank you for using the ATM. Goodbye!

## more applications of "for, if, break, continue"

In [ ]:
# find all numbers between 200 and 400 that are divisible by 3 "and" 7
for num in range(200, 401):
    if num % 3 == 0 and num % 7 == 0:
        print(num, end = " ")
print("\nI am out of 'for' life")

print("###############")
# find all numbers between 200 and 400 that are divisible by 3 "and" 5 "and" 7 
for num in range(200, 401):
    if num % 3 == 0 and num % 5 == 0 and num % 7 == 0:
        print(num, end = " ")

210 231 252 273 294 315 336 357 378 399
I am out of 'for' life
###############
210 315

In [ ]:
# find all numbers between 200 and 400 that are divisible by 3 "or" 7
for num in range(200, 401):
    if num % 3 == 0 or num % 7 == 0:
        print(num, end = " ")

201 203 204 207 210 213 216 217 219 222 224 225 228 231 234 237 238 240 243 245 246 249 252 255 258 259 261 264 266 267 270 273 276 279 280 282 285 287 288 291 294 297 300 301 303 306 308 309 312 315 318 321 322 324 327 329 330 333 336 339 342 343 345 348 350 351 354 357 360 363 364 366 369 371 372 375 378 381 384 385 387 390 392 393 396 399

In [ ]:
# find all numbers between 200 and 400 that are divisible by 3 and 7, and save them in  a list

#style1
result = []
for num in range(200, 401):
    if num % 3 == 0 and num % 7 == 0:
        result.append(num)
print(result)
print("##############")

#style2
result = [num for num in range(200, 401) if num % 3 == 0 and num % 7 == 0]
print(result)

[210, 231, 252, 273, 294, 315, 336, 357, 378, 399]
##############
[210, 231, 252, 273, 294, 315, 336, 357, 378, 399]

In [ ]:
numbers = [1, 4, 7, 8, 15, 20, 35, 45, 55]
for i in numbers:
    if i > 15:
        # break the loop
        print("Good bye. I am breaking out of the loop. Thanks Mr If")
        break
    else:
        print(f"OMG: Somebody help me. Mr Else has trapped me in the loop {i}")

OMG: Somebody help me. Mr Else has trapped me in the loop 1
OMG: Somebody help me. Mr Else has trapped me in the loop 4
OMG: Somebody help me. Mr Else has trapped me in the loop 7
OMG: Somebody help me. Mr Else has trapped me in the loop 8
OMG: Somebody help me. Mr Else has trapped me in the loop 15
Good bye. I am breaking out of the loop. Thanks Mr If

In [ ]:
# count number of chars in sentence
name = "saturn to mars"
count = 0
for char in name:
    if char != 'a':
        continue
    else:
        count = count + 1

print('Total number of a is:', count)
print("####################")


name = "The universe is a vast, poetic canvas of stars and silence, where every atom whispers the story of creation. "
count = 0
for char in name:
    if char != 's':
        continue
    else:
        count = count + 1

print(f'Total number of s is: {count}')

Total number of a is: 2
####################
Total number of s is: 10