## Sequence Types
**str** → String: s = "Hello"

**list** → Ordered, mutable: l = [1, 2, 3]

**tuple** → Ordered, immutable: t = (1, 2, 3)

### 1. String (str) Operations
A string is an **immutable** sequence of characters.

In [13]:
# String declaration
s = "Python is easy to learn" # or 'Python', str('Python'), str(90)

# # Accessing elements: Indexing starts with 0 in python
# print(s[0])    # 'P' (First character)
# print(s[2])    # 't'
# print(s[-1]) # 'n' (Last character)
# print(s[-4]) # 'e' (4th char from  end)
# print("1111111111111111111111111111\n")

# # Slicing : [start_position: end_position: step_size]. 
# # start_position by default is 0, end_position by default is last idx, step_size by default is 1
print(s[1:7:1]) # 'ython '
# print(s[1:7:2]) # 'yhn' (From index 1 to 6 with  step size 2) 
# print(s[1:4])  # 'yth' (From index 1 to 3)
# print(s[1:13:3]) # 'yoie' (From index 1 to 4 to 7 to 11 with  step size 1) 

# print(s[:3])   # This is s[0:3:1]: 'Pyt' (First 3 characters)
# print(s[2:])   # This is s[2:last_idx:1]: 'thon is easy to learn' (From index 2 to end)

# print(s[::-1]) # 'nrael ot ysae si nohtyP' (start from last idx and go backward)
# print(s[-5:2:-1]) # 'l ot ysae si noh' (start from idx -5, 5th from last, go upto idx 2, with step size -1, backward)
# print(s[-12:-5]) # 'asy to' (start from  idx -12 to idx -5, 12th from last to 5th last cahr)
# print("22222222222222222222222222222\n")

# # Slicing
# msg = "Python is a easy to learn."
# print(msg[2:8])  # 'thon i' (From index 2 to 8)
# print(msg[:11])   # 'Python is a' (First 11 characters)
# print(msg[8:])   # 's a easy to learn.' (From index 8 to end)
# print("33333333333333333333333333333\n")

# String concatenation
new_s = s + " and is fun!"
print(new_s)  


# String repetition
print(s * 3)  # repeat str s 3 times...concatenate s 3 times

# Checking substring
b = "th" in s 
print(b)  # True

print("xy" in s)  # False
print("44444444444444444444444444444\n")

# String methods
s = "  python is CoOL language " 
print(len(s))
print(s.lower())  
print(s.upper())  
print(s.replace("py", "my"))  
print(s.count('o'))
print(s.lower().count('o')) # this is called chaining method. It counts all o regardless of upper/lower case.


print(s.lstrip()) # Removes empty spaces from left
print(s.rstrip()) # Removes empty spaces from right
print(s.strip()) #Removes all empty spaces from left and right

s = "python is CoOL language. hope you have fun."
print(s.capitalize())
print(s.title())

print("5555555555555555555555555555555\n")

msg = "today, is a good day, to learn something new."
# msg = "2025-08-23,ash,34,000,34.78"
lst = msg.split(",")
print(lst) # ['today', ' is a good day', ' to learn something new.']


msg = "2025-08-23;ash;34,000;34.78"
lst = msg.split(";")
print(lst)

yhn
Python is easy to learn and is fun!
Python is easy to learnPython is easy to learnPython is easy to learn
True
False
44444444444444444444444444444

26
  python is cool language
  PYTHON IS COOL LANGUAGE
  mython is CoOL language
2
  python is cool language
  Python Is Cool Language
python is CoOL language
  python is CoOL language
python is CoOL language
5555555555555555555555555555555

['today', ' is a good day', ' to learn something new.']

In [2]:
# You cannot add numeric types to string
a = "7"
b = 5
res = a + b
print(res)

TypeError: can only concatenate str (not "int") to str

In [3]:
# what about multiply ???
# You cannot add numeric types to string
a = "7"
b = 5
res = a*b
print(res)

77777

In [12]:
# string  is immutable
s = 'Republic'
s[0] = 'Z'
s # We get a error

TypeError: 'str' object does not support item assignment

### 2️. List (list) Operations
- A list is an **ordered, mutable** collection of elements. (**Ordered** means that the elements of list are printed in the order in which they were entered. This is not True for dict and set)
- can contain **duplicates**
- are heterogenous (can contain elements of different kind)

In [3]:
# List declaration
age = [10, 20, 30, 40, 50, 20, 30] 

print(age)
print(type(age))



# OPTIONAL
# age = list((10, 20, 30, 40, 50))  # Note: double parentheses!
# print(age)
# chars = list("hello")  # ['h', 'e', 'l', 'l', 'o']
# print(chars)

[10, 20, 30, 40, 50]
<class 'list'>

In [2]:
# what types of elements in list ?
l = [] # empty list
print(l)

l = ["apple", "banana","cucumber"] # list contains elements that are all strings
print(l)

l = [True, True, False]
print(l)

l = [20, 42, 43.2, "apple"] # list of integers, float, strings
print(l)

l = [ 1, 3.2, [20, 34, "apple"], [1, 3, 4] ] # list of int, float, list
print(l)

fancy_l = [1, 3, '6', 3+7j, True, [1,2,6], [1, [3, True]] ]
print(fancy_l)

[]
['apple', 'banana', 'cucumber']
[True, True, False]
[20, 'apple']
[[20, 'apple'], [1, 3, 4]]
[1, 3, '6', (3+7j), True, ['h', 'e', 'l', 'l', 'o'], [1, 2, 6]]

In [7]:
numbers = [10, 30, 60, 70, 50] # age, income, houses, size of plot,etc

# Accessing elements: index starts with 0
print(numbers[0])   # prints element at index 0 : 10
print(numbers[1])   # prints element at index 1 : 30
print(numbers[3])   # prints element at index 3 : 70

print(numbers[-1])  # access last number 50
print("1111111111111111111111111111\n")

# Slicing
print(numbers[1:3])  # slice from idx=1 to idx=3: [30, 60]
print(numbers[:3])   # slice [10, 30, 60]
print(numbers[2:])   # slice from index 2 to last [60, 70, 50]
print(numbers[::2]) # from begin to end with step size =2
print(numbers[::-1]) # reverse
print("222222222222222222222222222222\n")

10
20
40
50
1111111111111111111111111111

[20, 30]
[10, 20, 30]
[30, 40, 50]
[10, 30, 50]
[50, 40, 30, 20, 10]
222222222222222222222222222222

In [19]:
# List modification

# appended at the end
numbers = [10, 20, 30, 40, 50]
numbers.append(17)  # Adds 17 at the end. NOTE: Try appending string, list, empty string, etc
print(f"numbers after append: {numbers}")  

# insert based on index
numbers = [10, 20, 30, 40, 50]
numbers.insert(3, 25)  # Insert 25 at index 3
print(f"numbers after insert: {numbers}")  

# remove an element based on its value
numbers = [10, 20, 30, 40, 50]
numbers.remove(50) # works on actual element
print(f"numbers after remove: {numbers}")

# remove an element based on its idx
numbers = [10, 20, 30, 40, 50]
numbers.pop(2) # works on actual index
print(f"numbers after pop: {numbers}")

## list is mutable
numbers = [10, 20, 30, 40, 50]
numbers[2] = 25
print(f"mutablility: numbers: {numbers}")

#########Assignment############
# How to put -6 in the begining of list ?
numbers = [10, 20, 30, 40, 50]
numbers.insert(0,-6)
print(f"numbers after insert in the begin: {numbers}")

numbers after append: [10, 20, 30, 40, 50, 17]
numbers after insert: [10, 20, 30, 25, 40, 50]
numbers after remove: [10, 20, 30, 40]
numbers after pop: [10, 20, 40, 50]
numbers after insert in the begn: [-6, 10, 20, 30, 40, 50]
mutablility: numbers: [10, 20, 25, 40, 50]

In [3]:
# difference between  append and extend
fruits = ['apple', 'banana']
fruits_new = ['cherry', 'date']
fruits.append(fruits_new)
print(fruits)
print(len(fruits))
print("##################")

fruits = ['apple', 'banana']
fruits_new = ['cherry', 'date']
fruits.extend(fruits_new) # extend unpacks the list
print(fruits)
print(len(fruits))

['apple', 'banana', ['cherry', 'date']]
3
##################
['apple', 'banana', 'cherry', 'date']
4

In [13]:
numbers = [-6, 10, 20, 30, 25, 40, 17]
# Sorting
numbers.sort()
print(f"After sort: {numbers}")  

numbers = [-6, 10, 20, 30, 25, 40, 17]
# Reversing
numbers.reverse()
print(f"After reverse: {numbers}")

After sort: [-6, 10, 17, 20, 25, 30, 40]
After reverse: [17, 40, 25, 30, 20, 10, -6]

In [5]:
numbers = [10, 20, 30, 40, 50]

# List concatenation
more_numbers = [77, 88, 11]
new_numbers = numbers + more_numbers
print(f"After list concatenation: {new_numbers}")  

# List repetition
repeat_numbers = numbers * 2
print(f"After list repetition: {repeat_numbers}")

After list concatenation: [10, 20, 30, 40, 50, 77, 88, 11]
After list repetition: [10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [40]:
# check if element is in a list
numbers = [10, 20, 30, 40, 50]

b = 401 in numbers
print(b)

False

In [46]:
# find idx of an element
numbers = [10, 20, 30, 40, 50]
print(numbers.index(30))

# count how many 60 are there
numbers = [10, 20, 60, 30, 60, 40, 60]
count = numbers.count(60) # Count all occurrences of item 60
print(count)

2
3

In [51]:
# create copy of a list

numbers = [10, 20, 60, 30, 60, 40, 60]
#style1
n = numbers.copy()
print(n)

#style2
n = numbers[:]
print(n)

Before change: [10, 20, 60, 30, 60, 40, 60]
After change: [10, 20, 60, 30, 60, 40, 60]
[-999, 20, 60, 30, 60, 40, 60]

In [16]:
# MISCELLANEOUS: lets create a list of 12 consecutive int starting with 1
l = list(range(1,13))
print(f"range: {l}")

# #lets create a list numbers starting with idx=2, skipping 3 values , and print upto 12
l_skip = list(range(2,13,3))
print(f"range: {l_skip}")

range: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
range: [2, 5, 8, 11]

### built-in operations and functions on  list

In [18]:
numbers = [70, 20, 10, 50, 30, 40]

print(min(numbers))
print(max(numbers))
print(sum(numbers))
print(len(numbers))
print(sorted(numbers)) # NOTE: it would not work if list contains int, str, bool mixed type

# a simple application:
average = sum(numbers)/len(numbers)
print(average)

10
70
220
6
[10, 20, 30, 40, 50, 70]
36.666666666666664

## Nested List

In [2]:
# 1. Basic Nested List: simulates matrix

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [7, 8, 9, 1]
]

print(matrix) # This is a 2D list (matrix) with 3 rows and 4 columns

[[1, 2, 3, 4], [5, 6, 7, 8], [7, 8, 9, 1]]

In [28]:
# 2. Accessing Elements in a Nested List
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix[0])      # element at idx=0: First row -> [1, 2, 3]
print(matrix[1])      # element at idx=1: First row -> [4, 5, 6]
print(matrix[2])      # element at idx=2: Third row -> [7, 8, 9]

print(matrix[1][2])   # element at row idx=1, column idx=2 -> 6
print(matrix[2][1])   # element at row idx=2, column idx=1 -> 8

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
6
8
3

In [30]:
# 3. Modifying a Nested List
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# print(matrix[0][1])
matrix[0][1] = 99  # Change element at row idx=0, column idx=1

print(matrix)

[[1, 99, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# 4. OPTIONAL: For Looping Through a Nested List
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for row in matrix:
    for element in row:
        print(element, end=" ")
    print()  # New line after each row

1 2 3
4 5 6
7 8 9

In [34]:
# OPTIONAL
st = " " # or use comma
l = ["Hello", "Bob", "Julia", "Kumar"]
new_str = st.join(l)
print(new_str)

# application: create CSV file

Hello,,,,Bob,,,,Julia,,,,Kumar

### 3️. Tuple (tuple) Operations
- A tuple is an **ordered, immutable** collection of elements.
- slightly faster than list and ideal when **data remains fixed**
- can contain **duplicates**
- are heterogenous (can contain elements of different kind)

In [38]:
# Tuple declaration
# tpl = ("apple", "banana", "cherry")
# print(tpl)
# print(type(tpl))

# #another way to create tuple without ()
# tpl = "apple", "banana", "cherry"
# print(tpl)
# print(type(tpl))

# create a tuple from a list
fruits = ["apple", "banana", "cherry"]
tpl = tuple(fruits)  # from list
print(tpl)
print(type(tpl))

#OPTIONAL: SKIP
# one_item_tpl = ("apple",) # mind the comma for it creates tuples
# print(one_item_tpl)
# print(type(one_item_tpl))

# # NOTE: # This is a string and not a tuple!
# tpl = ("apple")  
# print(tpl)
# print(type(tpl))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [6]:
# tuple can contain various types of elements:

# number tuple: int, float
t = (10, 20, 25.75)
print(t)

# string tuple
t = ('Jessa', 'Emma', 'Kelly')
print(t)

# mixed type tuple: string,int,float,list
t = ('Jessa', 30, 45.75, [25, 78])
print(t)

t = ((1,2,7.3), "ash",1234,54,12000)
print(t)

(10, 20, 25.75)
('Jessa', 'Emma', 'Kelly')
('Jessa', 30, 45.75, [25, 78])
((1, 2, 7.3), 'ash', 1234, 54, 12000)

In [11]:
fruits = ("apple", "banana", "cherry")

# Accessing elements
print(fruits[0])  # 'apple'
print(fruits[-1])  # 'cherry'
print(fruits[-2])  # 'banana'

# Slicing
print(fruits[1:])  # ('banana', 'cherry')

# Tuple concatenation
new_fruits = fruits + ("orange", "grape", "apple")
print(new_fruits)  # ('apple', 'banana', 'cherry', 'orange', 'grape')

# Tuple repetition
print(fruits * 2)  # ('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Checking existence
print("banana" in fruits)  # True

# Finding index
print(fruits.index("cherry"))  # 2

# Tuple length
print(len(fruits))  # 3

apple
cherry
banana
('banana', 'cherry')
('apple', 'banana', 'cherry', 'orange', 'grape', 'apple')
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
True
2
3

In [44]:
# tuple are immutable
planets = ["venus", "uranus", "earth"]
planets[1] = "jupyter" # list are mutable
print(planets)

planets = ("venus", "uranus", "earth")
planets[1] = "jupyter" # tuple are immutable

['venus', 'jupyter', 'earth']

TypeError: 'tuple' object does not support item assignment

In [7]:
t = (10, 20, 60, 30, 60, 40, 60)
count = t.count(60) # Count all occurrences of item 60
print(count)

count = t.count(600)
print(count)

3
0

In [8]:
t = (10, 20, 60, 30, 60, 40, 60)
print(min(t))
print(max(t))
print(sum(t))
print(len(t))

10
60
280
7

# STOP

In [9]:
# OPTIONAL: SKIP
# If one of the items is itself a mutable data type as a list, then we 
# can change its values in the case of a nested tuple.
tuple1 = (10, 20, [25, 75, 85])
# before update
print(tuple1)

# modify last item's first value
tuple1[2][0] = 250
# after update
print(tuple1)

(10, 20, [25, 75, 85])
(10, 20, [250, 75, 85])