# Type Casting in Python and input()  

---

## What is Type Casting?

**Type casting** means converting one data type into another.

Examples:

* Converting `int` â†’ `float`
* Converting `str` â†’ `int`
* Converting `int` â†’ `str`

Python provides **built-in functions** for type casting.

---

## ðŸ”¹ Why Do We Need Type Casting?

* User input is always a **string**.
* Performing calculations with right kind of data types 
* Avoiding runtime errors

In [12]:
## Checking the Type of a Variable

x = 10
y = 3.5
z = "100"

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

## Common Type Casting Functions

| Function  | Converts To |
| --------- | ----------- |
| `int()`   | Integer     |
| `float()` | Float       |
| `str()`   | String      |
| `bool()`  | Boolean     |

## Casting to Integer â†’ `int()`

In [14]:
# step1: 

x = "10"
# print(x / 10) # ERROR
print(type(x))

<class 'str'>

In [15]:
# step2: convert it into int

x = "10"
x = int(x)

print(x / 10) 
print(type(x))

1.0
<class 'int'>

In [16]:
a = 10.8
x = int(a)

print(x)   # decimal part is removed

10

In [19]:
## Invalid conversion

# This will cause an error
# int("hello")

In [ ]:
# 2

## Casting to Float â†’ `float()`

In [20]:
a = 5   # int
x = float(a)

print(x)

5.0

In [21]:
a = "3.14"  # string
x = float(a)

print(x)

3.14

In [ ]:
# 3

## Casting to String â†’ `str()`

In [24]:
age = 25
score = 99.5

msg1 = "Age is " + str(age)
msg2 = "Score is " + str(score)

print(msg1)
print(msg2)

Age is 25
Score is 99.5

In [ ]:
# 4

## Casting to Boolean â†’ `bool()`

### Rules to remember:

* `False` values:

  * `0`
  * `0.0`
  * `""` (empty string)
  * `None`
* Everything else is `True`

In [30]:
print(bool(0.0))
print(bool(1))
print(bool(""))
print(bool("Python"))
print(bool(100))

False
True
False
True
True

In [ ]:
# 5

# input() function
User input is **always a string**.

In [33]:
name = input("Enter your name: ")

print("Hello,", name)

Enter your name:  ash

Hello, ash

In [35]:
## step1) Type Casting with User Input
age = input("Enter your age: ")
print(type(age))

# new_age = age + 1 # ERROR

Enter your age:  23

<class 'str'>

TypeError: can only concatenate str (not "int") to str

In [36]:
# step2) Convert it to integer:

age = int(input("Enter your age: "))

new_age = age + 1

print("Next year your age will be:", new_age)

Enter your age:  23

Next year your age will be: 24

In [37]:
## Real-Life Example: Calculator

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum_result = num1 + num2
print("Sum:", sum_result)

Enter first number:  12
Enter second number:  4

Sum: 16.0

# STOP

In [ ]:
## Summary

âœ” Type casting converts one data type to another
âœ” Python provides `int()`, `float()`, `str()`, `bool()`
âœ” User input must be cast before calculations
âœ” Always ensure the value is compatible before casting

---

## Practice Exercises (For Students)

1. Convert `"45"` into an integer and add 10
2. Take two numbers from the user and multiply them
3. Convert `0`, `" "`, and `"Python"` into boolean and observe the output
4. Convert `99.99` into integer

---

Next:

* Add **quiz questions**
* Add **assignments with solutions**
* Convert this into **Udemy lecture slides**
* Add **challenge problems**