## Numeric Types
**int** → Whole numbers: x = 10, -4, 7, 89,

**float** → Decimal numbers: y = 10.5, -54.789, 3.567

**complex** → Complex numbers: z = 3 + 4j , -1 + 2j, etc

In [4]:
a = 10
b = 3
c = 1.2
d = 1 + 2j

print(type(a))

# Lets print above using f-string
print(f"type of a is {type(a)}")
print(f"type of b is {type(b)}")
print(f"type of c is {type(c)}")
print(f"type of d is {type(d)}")

<class 'int'>
type of a is <class 'int'>
type of b is <class 'int'>
type of c is <class 'float'>
type of d is <class 'complex'>

## 1. Integer (int) Operations

In [1]:
a = 17 # apple
b = 5 

res = a + b
print(f"addition:{res}")   # Addition → 13

res = a - b
print(f"subtraction: {res}")   # Subtraction → 7

res = a * b # apple * price_of_apple
print(f"multiplication:{res}")   # Multiplication → 30

# I can perform calculation directly inside print method
print(a / b)   # Division → 3.3333
print(a // b)  # Floor Division → 3
print(a % b)   # Modulus (Remainder) → 1
print(a ** b)  # Exponentiation → 1000 (10^3)

addition:22
subtraction: 12
multiplication:85
3.4
3
2
1419857

### 2. Float (float) Operations

In [8]:
x = 10.5
y = 2.5

# print(x + y)   # Addition → 13.0
# print(x - y)   # Subtraction → 8.0
# print(x * y)   # Multiplication → 26.25
# print(x / y)   # Division → 4.2

print(x // y)  # Floor Division → 4.0
print(x % y)   # Modulus(Remainder) → 0.5
print(x ** y)  # Exponentiation → 237.3046875

4.0
0.5
357.2508309997333

### 3. Complex Number (complex) Operations

In [5]:
c1 = 3 + 4j
c2 = 1 + 2j

print(c1 + c2)   # Addition → (4+6j)
print(c1 - c2)   # Subtraction → (2+2j)
print(c1 * c2)   # Multiplication → (-5+10j)
print(c1 / c2)   # Division → (2.2-0.4j)
print(abs(c1))   # Magnitude (modulus) → 5.0

(4+6j)
(2+2j)
(-5+10j)
(2.2-0.4j)
5.0

# (IMPORTANT) Convert str to int or float

In [4]:
# step1: 
x = "10"
print(type(x))
# print(x / 10) # ERROR

<class 'str'>

In [7]:
# step2: now convert str into int
x = "10"
x = int(x)       # or float(x)

# print(type(x))

print(x / 10)

1.0

# (IMPORTANT) Convert int to str

In [9]:
x = 10
x = str(x)

print(type(x))
print(x)

<class 'str'>
10

# (OPTIONAL) convert float to int

In [1]:
# convert float -> int
x = 10.5 # float

x = int(x) # covert it into int
print(x)

10

### 4. (OPTIONAL) Mixed Operations (int + float)

In [ ]:
num1 = 5      # int
num2 = 2.5    # float

print(num1 + num2)   
print(type(num1 + num2))

7.5
<class 'float'>

### 5. (OPTIONAL) Mixed Operations (int + float + complex)

In [2]:
num1 = 5      # int
num2 = 2.5    # float
num3 = 1 + 3j # complex

print(num1 * num3)   # int * complex -> complex
print(type(num1 * num3))

print(num2 * num3)  # float * complex -> complex
print(type(num2 + num3))

(5+15j)
<class 'complex'>
(3.5+3j)
<class 'complex'>