In [ ]:
# This is for python class. Not for GenAI/DA/DS class

# 1. CSV MODULE – READ THE FILE

## Exercise 1 (Student Task)

1. Open the CSV file using Python.
2. Read and print:
   
   * All student records
   * Header   
    
3. Count total number of students.

---

In [27]:
import csv

In [28]:
# 2.1 all records

with open("data_student_result.csv", "r") as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['RollNo', 'Name', 'Class', 'Math', 'Physics', 'AI']
['101', 'Bob', '10A', '78', '85', '90']
['102', 'Sunny', '10A', '95', '92', '94']
['103', 'Thoma', '10B', '60', '65', '58']
['104', 'Priya', '10B', '88', '82', '85']
['105', 'Aman', '10A', '45', '50', '48']
['106', 'Sneha', '10C', '91', '89', '93']
['107', 'Jerry', '10C', '72', '70', '75']
['108', 'Proytibu', '10A', '66', '64', '62']
['109', 'Vlad', '10B', '55', '52', '58']
['110', 'Gudmundsson', '10C', '89', '87', '85']
['111', 'Arjun', '10A', '92', '94', '91']
['112', 'Ashwani', '10B', '77', '79', '75']
['113', 'Vivek', '10C', '59', '58', '60']
['114', 'Aarti', '10A', '83', '85', '82']
['115', 'Shamlodhiya', '10B', '68', '66', '70']
['116', 'Simran', '10C', '97', '96', '95']
['117', 'Tarun', '10A', '52', '54', '50']
['118', 'Kaush', '10B', '88', '90', '87']
['119', 'Danny', '10C', '73', '75', '72']
['120', 'Meena', '10A', '81', '83', '80']

In [29]:
# 2.2 Header 

with open("data_student_result.csv", "r") as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)
        break

['RollNo', 'Name', 'Class', 'Math', 'Physics', 'AI']

In [30]:
# count all students

names = []

with open("data_student_result.csv", "r") as file:
    reader = csv.reader(file)
    
    for row in reader:
        names.append(row[1])

# print(names)
print("Count:", len(names)-1)

Count: 20


# 2. LIST – STORE ALL STUDENTS & MARKS

## Exercise 2: DO NOT Use DictReader

1. Store all student records in a **students** list.
2. Print roll no and Math marks of each student 
3. Store each marks of students in a tuple, store this tuple in a **marks** list.

---

In [31]:
# 1. Store all student records in a list.
students = []

with open("data_student_result.csv", "r") as file:
    reader = csv.reader(file)
    
    for row in reader:
        students.append(row)

print(students)

[['RollNo', 'Name', 'Class', 'Math', 'Physics', 'AI'], ['101', 'Bob', '10A', '78', '85', '90'], ['102', 'Sunny', '10A', '95', '92', '94'], ['103', 'Thoma', '10B', '60', '65', '58'], ['104', 'Priya', '10B', '88', '82', '85'], ['105', 'Aman', '10A', '45', '50', '48'], ['106', 'Sneha', '10C', '91', '89', '93'], ['107', 'Jerry', '10C', '72', '70', '75'], ['108', 'Proytibu', '10A', '66', '64', '62'], ['109', 'Vlad', '10B', '55', '52', '58'], ['110', 'Gudmundsson', '10C', '89', '87', '85'], ['111', 'Arjun', '10A', '92', '94', '91'], ['112', 'Ashwani', '10B', '77', '79', '75'], ['113', 'Vivek', '10C', '59', '58', '60'], ['114', 'Aarti', '10A', '83', '85', '82'], ['115', 'Shamlodhiya', '10B', '68', '66', '70'], ['116', 'Simran', '10C', '97', '96', '95'], ['117', 'Tarun', '10A', '52', '54', '50'], ['118', 'Kaush', '10B', '88', '90', '87'], ['119', 'Danny', '10C', '73', '75', '72'], ['120', 'Meena', '10A', '81', '83', '80']]

In [35]:
# 2. Print roll no and Math,AI marks of each student 

for s in students:
    print(s[0], s[3] , s[5])

RollNo Math AI
101 78 90
102 95 94
103 60 58
104 88 85
105 45 48
106 91 93
107 72 75
108 66 62
109 55 58
110 89 85
111 92 91
112 77 75
113 59 60
114 83 82
115 68 70
116 97 95
117 52 50
118 88 87
119 73 72
120 81 80

In [41]:
# 3. Store all marks into a **marks list**.
    
marks = []

for s in students[1:]: # skip header
    m = (int(s[3]), int(s[4]), int(s[5]))
    marks.append(m)

# print(marks)
for m in marks:
    print(m)

(78, 85, 90)
(95, 92, 94)
(60, 65, 58)
(88, 82, 85)
(45, 50, 48)
(91, 89, 93)
(72, 70, 75)
(66, 64, 62)
(55, 52, 58)
(89, 87, 85)
(92, 94, 91)
(77, 79, 75)
(59, 58, 60)
(83, 85, 82)
(68, 66, 70)
(97, 96, 95)
(52, 54, 50)
(88, 90, 87)
(73, 75, 72)
(81, 83, 80)

# 3. TUPLE – FIXED STUDENT PROFILE

## Exercise 3

1. Convert each student’s:

```
(RollNo, Name, Class)
```

into a **tuple** and store all tuples in a **students_profile** list.

---

2. Print a student record whose roll no = 110

In [44]:
### 1.

student_profiles = []

for s in students[1:]:
    profile = (s[0], s[1], s[2])
    student_profiles.append(profile)

print("Student Profiles (Tuples):")
for p in student_profiles:
    print(p)

Student Profiles (Tuples):
('101', 'Bob', '10A')
('102', 'Sunny', '10A')
('103', 'Thoma', '10B')
('104', 'Priya', '10B')
('105', 'Aman', '10A')
('106', 'Sneha', '10C')
('107', 'Jerry', '10C')
('108', 'Proytibu', '10A')
('109', 'Vlad', '10B')
('110', 'Gudmundsson', '10C')
('111', 'Arjun', '10A')
('112', 'Ashwani', '10B')
('113', 'Vivek', '10C')
('114', 'Aarti', '10A')
('115', 'Shamlodhiya', '10B')
('116', 'Simran', '10C')
('117', 'Tarun', '10A')
('118', 'Kaush', '10B')
('119', 'Danny', '10C')
('120', 'Meena', '10A')

In [57]:
### 2.1 Print a student record whose roll no = 110

for s in  students[1:]:
    if s[0] == '110':
        print("Found:", s)

Found: ['110', 'Gudmundsson', '10C', '89', '87', '85']

In [61]:
### 2.2 Print a student record whose roll no = 110 and handle not found case

found = False

for s in students:
    if s[0] == '110':
        print(s)
        found = True

if not found:
    print("Student not found")

['110', 'Gudmundsson', '10C', '89', '87', '85']

# 4. SET – UNIQUE CLASSES & UNIQUE NAMES

## Exercise 4

1. Find all **unique classes**.
2. Find all **unique student names**.

---

In [7]:
### Solution 4

classes = set()
names   = set()

for s in students[1:]:
    classes.add(s[2])
    names.add(s[1])

print("Unique Classes:", classes)
print("Unique Names:", names)

Unique Classes: {'10C', '10B', '10A'}
Unique Names: {'Kaush', 'Bob', 'Thoma', 'Sneha', 'Gudmundsson', 'Sunny', 'Tarun', 'Meena', 'Simran', 'Shamlodhiya', 'Vlad', 'Ashwani', 'Priya', 'Jerry', 'Proytibu', 'Aarti', 'Arjun', 'Aman', 'Danny', 'Vivek'}

# 5. OPERATORS – TOTAL, AVERAGE, TOPPER

##  Exercise 5

For each student:

1. Calculate:

   * Total marks
   * Average marks
2. Find:

   * Class topper

---

In [46]:
print(students)

[['RollNo', 'Name', 'Class', 'Math', 'Physics', 'AI'], ['101', 'Bob', '10A', '78', '85', '90'], ['102', 'Sunny', '10A', '95', '92', '94'], ['103', 'Thoma', '10B', '60', '65', '58'], ['104', 'Priya', '10B', '88', '82', '85'], ['105', 'Aman', '10A', '45', '50', '48'], ['106', 'Sneha', '10C', '91', '89', '93'], ['107', 'Jerry', '10C', '72', '70', '75'], ['108', 'Proytibu', '10A', '66', '64', '62'], ['109', 'Vlad', '10B', '55', '52', '58'], ['110', 'Gudmundsson', '10C', '89', '87', '85'], ['111', 'Arjun', '10A', '92', '94', '91'], ['112', 'Ashwani', '10B', '77', '79', '75'], ['113', 'Vivek', '10C', '59', '58', '60'], ['114', 'Aarti', '10A', '83', '85', '82'], ['115', 'Shamlodhiya', '10B', '68', '66', '70'], ['116', 'Simran', '10C', '97', '96', '95'], ['117', 'Tarun', '10A', '52', '54', '50'], ['118', 'Kaush', '10B', '88', '90', '87'], ['119', 'Danny', '10C', '73', '75', '72'], ['120', 'Meena', '10A', '81', '83', '80']]

In [51]:
### Solution 5

topper_name = ""
max_total = 0

for s in students[1:]:
    marks = [ int(s[3]), int(s[4]), int(s[5]) ]
    total = sum(marks)
    average = total / 3

    print(s[1], "Total:", total, "Average:", average)

    if total > max_total:
        max_total = total
        topper_name = s[1]

print("\nTopper:", topper_name, "with", max_total)

Bob Total: 253 Average: 84.33333333333333
Sunny Total: 281 Average: 93.66666666666667
Thoma Total: 183 Average: 61.0
Priya Total: 255 Average: 85.0
Aman Total: 143 Average: 47.666666666666664
Sneha Total: 273 Average: 91.0
Jerry Total: 217 Average: 72.33333333333333
Proytibu Total: 192 Average: 64.0
Vlad Total: 165 Average: 55.0
Gudmundsson Total: 261 Average: 87.0
Arjun Total: 277 Average: 92.33333333333333
Ashwani Total: 231 Average: 77.0
Vivek Total: 177 Average: 59.0
Aarti Total: 250 Average: 83.33333333333333
Shamlodhiya Total: 204 Average: 68.0
Simran Total: 288 Average: 96.0
Tarun Total: 156 Average: 52.0
Kaush Total: 265 Average: 88.33333333333333
Danny Total: 220 Average: 73.33333333333333
Meena Total: 244 Average: 81.33333333333333

Topper: Simran with 288

#
# 6. IF–ELSE – PASS / FAIL & GRADE

## Exercise 6

Using average:

* ≥ 90 → A
* ≥ 75 → B
* ≥ 60 → C
* Else → Fail

---

In [53]:
### Solution 6

for s in students[1:]:
    marks = [ int(s[3]), int(s[4]), int(s[5]) ]
    avg = sum(marks) / 3

    if avg >= 90:
        grade = "A"
    elif avg >= 75:
        grade = "B"
    elif avg >= 60:
        grade = "C"
    else:
        grade = "Fail"

    print(s[1], "Grade:", grade)

Bob Grade: B
Sunny Grade: A
Thoma Grade: C
Priya Grade: B
Aman Grade: Fail
Sneha Grade: A
Jerry Grade: C
Proytibu Grade: C
Vlad Grade: Fail
Gudmundsson Grade: B
Arjun Grade: A
Ashwani Grade: B
Vivek Grade: Fail
Aarti Grade: B
Shamlodhiya Grade: C
Simran Grade: A
Tarun Grade: Fail
Kaush Grade: B
Danny Grade: C
Meena Grade: B

# 7. FOR LOOP – FAILED STUDENTS LIST

## Exercise 7

Print all students who failed (avg < 60).

---

In [55]:
### Solution 7


print("Failed Students:")

for s in students[1:]:
    marks = [ int(s[3]), int(s[4]), int(s[5]) ]
    avg = sum(marks) / 3

    if avg < 60:
        print(s[1], "failed with avg", avg)

Failed Students:
Aman failed with avg 47.666666666666664
Vlad failed with avg 55.0
Vivek failed with avg 59.0
Tarun failed with avg 52.0

# 8. TODO(TEST): WHILE LOOP – MENU-DRIVEN PROGRAM

## Exercise 8

Create a menu:

```
1. Show All Students
2. Search by Roll No
3. Show Topper
4. Show Failed Students
5. Show Unique Classes
6. Exit
```

---

In [64]:
### Solution 8 (Complete Menu Program)


import csv

students = []

with open("data_student_result.csv", "r") as file:
    reader = csv.reader(file)
    
    for row in reader:
        students.append(row)

print("The total students:", len(students)-1)

while True:
    print("\n1. Show All Students")
    print("2. Search by Roll No")
    print("3. Show Topper")
    print("4. Show Failed Students")
    print("5. Show Unique Classes")
    print("6. Exit")

    choice = input("Enter your choice: ")

    if choice == "1":
        for s in students:
            print(s)

    elif choice == "2":
        r = input("Enter Roll No: ")
        found = False
        for s in students[1:]:
            if s[0] == r:
                print(s)
                found = True
        if not found:
            print("Student not found")

    elif choice == "3":
        topper = ""
        max_total = 0

        for s in students[1:]:
            marks = [ int(s[3]), int(s[4]), int(s[5]) ]
            total = sum(marks)

            if total > max_total:
                max_total = total
                topper = s[1]

        print("Topper:", topper, "Total:", max_total)

    elif choice == "4":
        print("Failed Students:")
        for s in students[1:]:
            marks = [ int(s[3]), int(s[4]), int(s[5]) ]
            avg = sum(marks) / 3

            if avg < 60:
                print(s[1], "Avg:", avg)

    elif choice == "5":
        classes = set()
        for s in students[1:]:
            classes.add(s[2])
        print("Unique Classes:", classes)

    elif choice == "6":
        print("Exiting Program...")
        break

    else:
        print("Invalid choice")

The total students: 20

1. Show All Students
2. Search by Roll No
3. Show Topper
4. Show Failed Students
5. Show Unique Classes
6. Exit

Enter your choice:  5

Unique Classes: {'10A', '10B', '10C'}

1. Show All Students
2. Search by Roll No
3. Show Topper
4. Show Failed Students
5. Show Unique Classes
6. Exit

Enter your choice:  6

Exiting Program...