# Container for data: List, Tuple, Set
 
### List:
- A list is an **ordered, mutable** collection of elements. (**Ordered** means elements in the collection maintain the order in which they were added.)
- Can contain **duplicates**
- Are **heterogenous** (can contain elements of different kind like **int, str, boolean,** etc.)
- Supports indexing and slicing (my_list[0], my_list[1:3])

##### Use Case:
```
- When you need to preserve order of elements.
- When the collection will change frequently (e.g., insert, update, delete).
- Best for general-purpose storage and manipulation.
```

###  Tuple:
- A tuple is an **ordered, immutable** collection of elements.
- Can contain **duplicates**
- Are **heterogenous** (can contain elements of different kind like **int, str, boolean,** etc.)
- Supports indexing and slicing (my_tuple[0], my_tuple[1:3])
- Slightly faster than list and **ideal when data remains fixed**. That is you do not have to perform many insert or update operation.

#### Use Case:
```
- When you want to create a fixed, constant data structure.
- Often used for read-only or hashable data (e.g., keys in dictionaries {'shamlodhiya': 62, 'ashwani': 87}).
- Ideal when data should not be changed accidentally.
```

### Sets:
- A set is an **unordered, mutable** collection of elements.
- Contains **no duplicates**. 
- A set can contain elements of different data types as long as elements are str, int, float or bool. A set cannot contain list or dict.
- Does not support indexing or slicing

#### Use Case:
```
- When you need to eliminate duplicates.
- When doing set operations like union, intersection, difference.
- Useful for membership testing (if x in my_set) — fast lookup.
```


## SUMMARY
```

| Feature           | List                             | Tuple                    | Set                          |
| ----------------- | -------------------------------- | ------------------------ | ---------------------------- |
| Ordered           | Yes                              | Yes                      | No                           |
| Mutable           | Yes                              | No                       | Yes                          |
| Allows Duplicates | Yes                              | Yes                      | No                           |
| Indexable         | Yes                              | Yes                      | No                           |
| Use Case          | General purpose, changeable data | Fixed data, hashable use | Unique elements, fast lookup |
-------------------------------------------------------------------------------------------------------------------
```

In [1]:
# How to create list , tuple, set
# list:   names = []
# tuple:  names = ()
# set:    names = {}

# list: Output preserves the order. Can contain duplicates
names = ['Tom', 'Ashwani', 'Patel', 'Shamlodhiya', 'Ashwani', 'Tom', 'Ashwani'] 
print(names)
print(type(names))

['Tom', 'Ashwani', 'Patel', 'Shamlodhiya', 'Ashwani', 'Tom', 'Ashwani']
<class 'list'>

In [ ]:
# tuple: Output preserves the order. Can contain duplicates
names = ('Tom', 'Ashwani', 'Patel', 'Shamlodhiya', 'Ashwani', 'Tom', 'Ashwani')
print(names)
print(type(names))

In [1]:
# set: Output does not preserve the order. Duplicates are removed
names = {'Tom', 'Ashwani', 'Patel', 'Shamlodhiya', 'Ashwani', 'Tom', 'Ashwani'}
print(names) 
print(type(names))

{'Tom', 'Shamlodhiya', 'Ashwani', 'Patel'}
<class 'set'>

In [2]:
# list is heterogenous: can contain elements of different types - int, float, list, tuple, set
l = [ 1, 3.2, [20, 34, "apple"], (1, 3, 4), {3, 5} ] 
print(l)

[1, 3.2, [20, 34, 'apple'], (1, 3, 4), {3, 5}]

In [3]:
# tuple is heterogenous: can contain elements of different types - int, float, list, tuple, set
t = ( 1, 3.2, [20, 34, "apple"], (1, 3, 4), {3, 5} )
print(t)

(1, 3.2, [20, 34, 'apple'], (1, 3, 4), {3, 5})

In [4]:
# set of int, float, bool, str. But cannot create set of list, set, etc
s = { 5, 3.2, True, "Banana", "Mangoe", False, True } 
print(s)

# ERROR: set of list, set
# s = { 1, 3.2, [2, 4] } # ERROR
# s = { 1, 3.2, {2, 4} } # ERROR
# print(s)

{1, 3.2, 'apple'}
{1, 3.2, 'apple'}

### Access elements

In [5]:
# list access: index starts with 0
data = [10, 30, 60, 70, 50, 30, 60, 90, 10, 50] # age, income, houses, size of plot,etc

print(data[0])   # prints element at index 0 : 10
print(data[3])   # prints element at index 3 : 70

print(data[-1])  # access last number 50
print(data[-4])  # access 4th element from the last number

10
70
50
60

In [7]:
# list Slicing: [start_idx: stop_idx: step_size]. 
# Default for start_idx=0, default for stop_idx=last position, default for step_size=1
data = [10, 30, 60, 70, 50, 30, 60, 90, 10, 50] # age, income,
print(data)

print(data[1:5])    # slice from idx=1 to idx=4, but not idx 5: [30, 60, 70, 50]
print(data[1:7:2])  # slice from idx=1 to idx=6 with step size=2: [30, 70, 30]

[10, 30, 60, 70, 50, 30, 60, 90, 10, 50]
[30, 60, 70, 50]
[30, 70, 30]

In [12]:
# list slicing: part2
data = [10, 30, 60, 70, 50, 30, 60, 90, 10, 50]
print(data)

print(data[:3])   # slice first 3 elements: [10, 30, 60]
print(data[2:])   # slice from index 2 to last [60, 70, 50, 30, 60, 50]
print(data[::2]) # from begin to end with step size =2
print(data[::-1]) # reverse

[10, 30, 60, 70, 50, 30, 60, 90, 10, 50]
[50, 10, 90, 60, 30, 50, 70, 60, 30, 10]

In [9]:
# tuple access: index starts with 0
data = (10, 30, 60, 70, 50, 30, 60, 90, 10, 50) # age, income, houses, size of plot,etc
print(data)

print(data[0])   # prints element at index 0 : 10
print(data[3])   # prints element at index 3 : 70
print(data[-1])  # access last number 50

10
70
50

In [11]:
# tuple slicing: [start_idx: stop_idx: step_size]. 
# Default for start_idx=0, default for stop_idx=last position, default for step_size=1
data = (10, 30, 60, 70, 50, 30, 60, 90, 10, 50) # age, income, houses, size of plot,etc
print(data)

print(data[1:7])  # slice from idx=1 to idx=6: (30, 60, 70, 50, 30, 60)
print(data[1:7:2])  # slice from idx=1 to idx=6 with step size=2: [30, 70, 30]

(30, 60, 70, 50, 30, 60)
(30, 70, 30)

In [ ]:
# tuple slicing: part2
data = (10, 30, 60, 70, 50, 30, 60, 90, 10, 50)

print(data[:3])   # slice first 3 elements: [10, 30, 60]
print(data[2:])   # slice from index 2 to last [60, 70, 50, 30, 60, 50]
print(data[::2]) # from begin to end with step size =2
print(data[::-1]) # reverse

In [22]:
# set does not support indexing
data = { 10, 30, 60, 70, 50, 30, 60, 90, 10, 50 } 
print(data)

# print(data[0]) # ERROR

{50, 90, 70, 10, 60, 30}

In [14]:
# list and set are mutable, tuple is immutable

## modify list
data = [10, 20, 60, 10, 20, 30]
print("data BEFORE =", data)
data[2] = 99
print("data AFTER  =", data)

# ## set elements can be changed but not through indexing. Explained later below on how to do this.

data BEFORE= [10, 20, 60, 10, 20, 30]
data AFTER = [10, 20, 99, 10, 20, 30]

In [ ]:
## modify tuple not possible
data = (10, 20, 60, 10, 20, 30)

print("data =", data)
# data[2] = 25 # ERROR

## methods of list

In [29]:
# attributes and methods of list: use dir()
data = [10, 20, 30, 40, 50] 
print(dir(data))
# print(help(data))

# The important ones: 'append', 'clear', 'copy', 'count', 'extend', 'index',
# 'insert', 'pop', 'remove', 'reverse', 'sort'

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [32]:
# lets look at few of them: appended at the end.

data = [10, 20, 30, 40, 50]
print(data)

data.append(17)  # Adds 17 at the end. 

print(data)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 17]

In [3]:
# insert() based on index
data = [10, 20, 30, 40, 50]
print(data)  

data.insert(3, 99)  # Insert 99 at index 3 and push the other elements towards right

print(data)

[10, 20, 30, 40, 50]
[10, 20, 30, 99, 40, 50]

In [6]:
# remove() an element based on its value
data = [10, 20, 30, 40, 50, 99, 50]
print(data)

data.remove(50) # works on actual element and removes 1st matching element

print(data)

[10, 20, 30, 40, 50, 99, 50]
[10, 20, 30, 40, 99, 50]

In [7]:
# pop(): remove an element based on its idx
data = [10, 20, 30, 40, 50]
print(data)

data.pop(2) # works on actual index. Pop the element at idx=2

print(data)

[10, 20, 30, 40, 50]
[10, 20, 40, 50]

In [15]:
# index(): find idx of an element
data = [10, 20, 30, 40, 50, 99, 30]

idx = data.index(30)

print(f"index: {idx}") # returns the 1st matching index

index: 2

In [17]:
# count() occurences: how many 60 are there
data = [10, 20, 60, 30, 60, 40, 60]

count = data.count(60) # Count all occurrences of 60
print(f"count: {count}")

count = data.count(999) # Count all occurrences of 999
print(f"count: {count}")

count: 3
count: 0

In [19]:
# sort(): Sorting
data = [5, -6, 10, 20, 30, 25, 40, 17]

print(f"Before sort: {data}")  
data.sort()
print(f"After  sort: {data}")

Before sort: [5, -6, 10, 20, 30, 25, 40, 17]
After  sort: [-6, 5, 10, 17, 20, 25, 30, 40]

In [20]:
# reverse(): Reversing the list

data = [-6, 10, 20, 30, 25, 40, 17]
print("Before:", data)

data.reverse()

print("After: ", data)

Before: [-6, 10, 20, 30, 25, 40, 17]
After:  [17, 40, 25, 30, 20, 10, -6]

## methods of tuple

In [15]:
# methods of tuple: use dir()
data = (10, 20, 30, 40, 50)
print(dir(data))
# print(help(data))

# The important ones: 'count', 'index'

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [21]:
# lets look at them: count() - count occurences of elements

data = (10, 20, 60, 30, 60, 40, 60)
count = data.count(60) # Count all occurrences of item 60
print(f"count: {count}")

count = data.count(999) # Count all occurrences of item 999
print(f"count: {count}")

count: 3
count: 0

In [23]:
# index(): find index of an element

data = (10, 20, 60, 30, 60, 40, 60)

idx = data.index(60) # gets the index of 1st matching elements

print(f"idx: {idx}")

# idx = data.index(999) # ERROR

idx: 2

## methods of set

In [18]:
# attributes and methods of set: use dir()
data = { 10, 20, 60, 30, 60, 40, 60 }
print(dir(data))
# print(help(data))

# The important ones: 'add', 'clear', 'copy', 'difference', 'intersection', 
# 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'union', 'update'

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [25]:
# Let look at few of them: add elements from set - Sets are mutable

guests = {"Lee", "Wurtzberger", "Chaudhary", "Shamlodhiya"}
print(guests)
guests.add("Ravinder")  # Add a guest
print(guests)

{'Wurtzberger', 'Lee', 'Chaudhary', 'Shamlodhiya'}
{'Wurtzberger', 'Chaudhary', 'Ravinder', 'Shamlodhiya', 'Lee'}

In [26]:
# remove(): removes an element

guests = {"Lee", "Wurtzberger", "Chaudhary", "Shamlodhiya"}
print(guests)

guests.remove("Lee")  # Remove a guest

print(guests)

{'Wurtzberger', 'Lee', 'Chaudhary', 'Shamlodhiya'}
{'Wurtzberger', 'Chaudhary', 'Shamlodhiya'}

In [27]:
# Union: combines 2 sets
class_art = {"Alice", "Bob", "Charlie", "Zena"}
class_gym = {"Bob", "David", "Zena", "Geeta", "Vicky"}

# Union (All students)
print("union :", class_art.union(class_gym))  
print("union :", class_art | class_gym)

union : {'Charlie', 'Bob', 'Vicky', 'Geeta', 'David', 'Zena', 'Alice'}
union : {'Charlie', 'Bob', 'Vicky', 'Geeta', 'David', 'Zena', 'Alice'}

In [28]:
# intersection() (Students in both classes)
class_art = {"Alice", "Bob", "Charlie", "Zena"}
class_gym = {"Bob", "David", "Zena", "Geeta", "Vicky"}

print("intersection:", class_art.intersection(class_gym))  
print("intersection:", class_art & class_gym)

intersection: {'Zena', 'Bob'}
intersection: {'Zena', 'Bob'}

In [29]:
# difference() (Students only in class art and not in gym class)
class_art = {"Alice", "Bob", "Charlie", "Zena"}
class_gym = {"Bob", "David", "Zena", "Geeta", "Vicky"}

print("difference1 :", class_art.difference(class_gym))
print("difference1 :", class_art - class_gym)

difference1 : {'Alice', 'Charlie'}
difference1 : {'Alice', 'Charlie'}

In [30]:
# difference() (Students only in class gym and not in art class)
class_art = {"Alice", "Bob", "Charlie", "Zena"}
class_gym = {"Bob", "David", "Zena", "Geeta", "Vicky"}

print("difference2 :", class_gym.difference(class_art))  
print("difference2 :", class_gym - class_art)

difference2 : {'Vicky', 'David', 'Geeta'}
difference2 : {'Vicky', 'David', 'Geeta'}

In [ ]:
# isdisjoint : Application - Can be used to check if 2 sets of emails, company A and B, have any common email.
a = {"bob@gmail.com", "bob@hotmail.com", "geeta@yahoomail.com", "bob@msnmail.com", "ash@hotmail.com"}
b = {"bob@gmail.com", "bob@msnmail.com"}
c = {"geeta2@yahoomail.com", "bob3@msnmail.com"}

print(a.isdisjoint(b))  
print(a.isdisjoint(c))

In [33]:
# (OPTIONAL)isdisjoint: check if 2 sets have any common elements
# Scheduling (No Time Conflicts)
a = {10, 12, 13, 14} # meeting time 10 - 14
b = {14, 15, 16}  # meeting time 14 - 16
c = {15, 16, 17}   # meeting time 15 - 16

print(a.isdisjoint(b))  # True -> no common elements
print(a.isdisjoint(c))  # False -> 2 is common

False
True

False
True

In [27]:
# issubset: 
# Application: If a user’s cart items are a subset of a known “combo deal,” they might get a discount.
# combo_offer = {"bread", "butter", "jam", "honey", "milk"}
# cart = {"bread", "butter"}

A = {"bread", "cookies", "jam", "honey", "milk"}
B = {"bread", "cookies"}
C = {"cookies", "jam", "honey", "bread"}

print(B.issubset(A))  # True -> b is subset of a
print(A.issubset(C))  # False
print(C.issubset(A))  # True

True
False
True

## Membership: **in** operator

In [30]:
# check if an element is in a list
data = [10, 20, 30, 40, 50]

b = 409 in data
print(b)

False

In [31]:
# check if element is in a tuple
data = (10, 20, 30, 40, 50)

b = 401 in data
print(b)

False

In [32]:
# check if element is in a set
data = { 10, 20, 30, 40, 50 }

b = 409 in data
print(b)

True

## Functions on containers: min, max, sum, len

In [69]:
# find min, max, sum, len of numbers in list
numbers = [30, 20, 40, 50, 10, 20]

print(min(numbers))
print(max(numbers))
print(sum(numbers))
print(len(numbers))

# a simple application:
average = sum(numbers) / len(numbers)
print(average)

10
50
170
6
28.333333333333332

In [70]:
# find min, max, sum, len of numbers in tuple
numbers = (30, 20, 40, 50, 10, 20)

print(min(numbers))
print(max(numbers))
print(sum(numbers))
print(len(numbers))

# a simple application:
average = sum(numbers) / len(numbers)
print(average)

10
50
170
6
28.333333333333332

In [33]:
# find min, max, sum, len of numbers in set
numbers = { 30, 20, 40, 50, 10, 20 } # NOTE: 20 is being repeated twice.
print(f"numbers: {numbers}")

print(min(numbers))
print(max(numbers))
print(sum(numbers))
print(len(numbers))

# Application: set removes duplicates
average = sum(numbers) / len(numbers)
print(average)

numbers: {50, 20, 40, 10, 30}
10
50
150
5