# Sets Questions

**Question 1. Write a Python program to create a set.**

In [3]:
#Empty set
x = set()
print(x)

set()

In [4]:
type(x)

set

In [5]:
#Non-Empty Set containing numerics
y = set([0, 1, 2, 3, 4])
print(y)

{0, 1, 2, 3, 4}

In [6]:
#Non-Empty Set containing literals
z = {1,2,3,'foo','bar'}
z

{1, 2, 3, 'bar', 'foo'}

**Question 2. Write a Python program to iterate over sets.**

In [7]:
num_set = {0, 1, 2, 3, 4, 5}
# Iterate over the set
for i in num_set:
    print(i, end=' ')

0 1 2 3 4 5

**Question 3. Write a Python program to add member(s) to a set**

In [13]:
#A new empty set
set1 = set()
print("Set with Single element:")
set1.add("Orange")
print(set1)

Set with Single element:
{'Orange'}

In [14]:
print("Set with Multiple items:")
set1.update(["Black", "Green"])
print(set1)

Set with Multiple items:
{'Black', 'Orange', 'Green'}

**Question 4. Write a Python program to remove item(s) from a given set.**

In [18]:
set1 = set([0, 1, 3, 4, 5])
print("Original set:")
print(set1)

Original set:
{0, 1, 3, 4, 5}

In [19]:
set1.pop()
print("After removing the first element from the said set:")
print(set1)

After removing the first element from the said set:
{1, 3, 4, 5}

**Question 5. Write a Python program to create an intersection of sets**

In [20]:
#Intersection of 2 sets is a new set containing all elements of A that also belong to B 
set1 = set(["green", "blue"])
set2 = set(["blue", "yellow"])
print("Original set elements:")
print(set1)
print(set2)

Original set elements:
{'blue', 'green'}
{'blue', 'yellow'}

In [21]:
print("Intersection of two said sets:")
set3 = set1 & set2 
#set1.intersection(set2) can also be used
print(set3)

Intersection of two said sets:
{'blue'}

**Question 6. Write a Python program to create a union of sets.**

In [22]:
#Union of sets is the set of all elements in the collection
set1 = set(["green", "blue"])
set2 = set(["blue", "yellow"])
print("Original set elements:")
print(set1)
print(set2)

Original set elements:
{'blue', 'green'}
{'blue', 'yellow'}

In [23]:
print("Union of two said sets:")
set3 = set1 | set2 #set1.union(set2) can also be used
print(set3)

Union of two said sets:
{'blue', 'green', 'yellow'}

**Question 7. Write a Python program to create set difference.**

In [24]:
#Set difference gives values that are in A but not in B
set1 = set(["green", "blue"])
set2 = set(["blue", "yellow"])
print("Original set elements:")
print(set1)
print(set2)

Original set elements:
{'blue', 'green'}
{'blue', 'yellow'}

In [25]:
print("Difference of two said sets:")
set3 = set1 - set2 #set1.difference(set2) can also be used
print(set3)

Difference of two said sets:
{'green'}

**Question 8. Write a Python program to create a symmetric difference.**

In [26]:
#Set Symmetric difference gives values that are not common in both sets
set1 = set(["green", "blue"])
set2 = set(["blue", "yellow"])
print("Original set elements:")
print(set1)
print(set2)

Original set elements:
{'blue', 'green'}
{'blue', 'yellow'}

In [27]:
print("Symmetric Difference of two said sets:")
set3 = set1 ^ set2 #set1.symmetric_difference(set2) can also be used
print(set3)

Symmetric Difference of two said sets:
{'yellow', 'green'}

**Question 9. Write a Python program to check if a set is a subset of another set.**

In [28]:
#Return True if all elements of the set1 are members of set2
set1 = set(["green", "blue"])
set2 = set(["blue", "yellow"])
print("Original set elements:")
print(set1)
print(set2)

Original set elements:
{'blue', 'green'}
{'blue', 'yellow'}

In [29]:
print("If set1 is subset of set2")
set3 = set1.issubset(set2)
print(set3)

If set1 is subset of set2
False

**Question 10.  Write a Python program to remove all elements from a given set.**

In [30]:
set1 = {"Red", "Green", "Black", "White"}
print("Original set elements:")
print(set1)

Original set elements:
{'Green', 'Red', 'Black', 'White'}

In [31]:
print("After removing all elements of the said set.")
set1.clear()
print(set1)

After removing all elements of the said set.
set()

**Question 11. Write a Python program to find the maximum and minimum values in a set.**

In [32]:
#Create a set
set1 = {5, 10, 3, 17, 1, 25}
print("Original set elements:")
print(set1)

Original set elements:
{1, 17, 3, 5, 25, 10}

In [33]:
print("Maximum value of the said set:")
print(max(set1))

Maximum value of the said set:
25

In [34]:
print("Minimum value of the said set:")
print(min(set1))

Minimum value of the said set:
1

**Question 12. Write a Python program to find the length of a set.**

In [35]:
#Create a set
set1 = {5, 10, 3, 17, 1, 25}
print("Original set elements:")
print(set1)

Original set elements:
{1, 17, 3, 5, 25, 10}

In [36]:
print("Length of the said set:")
print(len(set1))

Length of the said set:
6

**Question 13. Write a Python program to check if a given value is present in a set or not.**

In [37]:
numbers = {1, 3, 5, 7, 9, 11}
print("Original sets(nums): ",numbers)

Original sets(nums):  {1, 3, 5, 7, 9, 11}

In [38]:
print("Test if 6 exists in nums:")
print(6 in numbers)

Test if 6 exists in nums:
False

In [39]:
print("Test if 7 exists in numbers:")
print(7 in numbers)

Test if 7 exists in numbers:
True

**Question 14. Write a Python program to check if two given sets have no elements in common.**

In [40]:
x = {1,2,3,4}
y = {4,5,6,7}
z = {8}
print("Original set elements:")
print(x)
print(y)
print(z)

Original set elements:
{1, 2, 3, 4}
{4, 5, 6, 7}
{8}

In [42]:
print("Compare x and y:")
print(x.isdisjoint(y))
print("Compare x and z:")
print(x.isdisjoint(z))
print("Compare y and z:")
print(y.isdisjoint(z))

Compare x and y:
False
Compare x and z:
True
Compare y and z:
True

**Question 15. Write a Python program to count number of vowels using sets in given string.**

In [52]:
str = "Riya Chaddha"
count = 0
vowel = set("aeiouAEIOU")
print("String :",str)
print("Vowels :",vowel)
for alphabet in str:
    if alphabet in vowel:
        count = count + 1
 
print("Number of Vowels :", count)

String : Riya Chaddha
Vowels : {'O', 'o', 'I', 'i', 'u', 'A', 'U', 'e', 'a', 'E'}
Number of Vowels : 4

**Question 16. Write a Python program to Convert Set to String.**

**Question 17. Write a Python program to Convert Set to List.**

In [53]:
a = {'Python', 'for', 'DS'}
b = list(a)
print(b, type(b))

['for', 'DS', 'Python'] <class 'list'>

**QUestion 18. Write a Python program to Convert Set to Tuple.**

In [54]:
a = {'Python', 'for', 'DS'}
b = tuple(a)
print(b, type(b))

('for', 'DS', 'Python') <class 'tuple'>

**Question 19. Write a Python program to Convert Tuple to Set.**

In [55]:
a = ('Python', 'for', 'DS', 1, 5)
b = set(a)
print(b, type(b))

{1, 5, 'for', 'Python', 'DS'} <class 'set'>

**Question 20. Create a sequence of numbers using range, then ask the user to enter a number. Inform the user whether or not their number was within the range you specified.**

In [12]:
a = list(range(1,50))
num = int(input("Enter the Number : "))
if num in a:
    print("The Number is a Within the Range.")
else:
    if num<a[0]:
        print("Your Number is Low..")
    else:
        print("Your Number is High..")

Enter the Number : 49
The Number is a Within the Range.