# Questions on map(), filter() and reduce() Function

### 1. Write a Python program to triple all numbers of a given list of integers. Use Python map.

In [ ]:
list_int = [i for i in range(1,11)]
list_int

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
def int_trippler(l):
    return list(map(lambda x : x*3, l))

int_trippler(list_int)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

### 2. Write a Python program to add three given lists using Python map and lambda.

In [ ]:
list1 = [i for i in range(1,10)]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list2 = [i for i in range(11,20)]
list2

[11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
list3 = [i for i in range(21,30)]
list3

[21, 22, 23, 24, 25, 26, 27, 28, 29]

In [ ]:
def list_addition(l1, l2, l3):
    return list(map(lambda x,y,z : x+y+z, l1,l2,l3))

list_addition(list1, list2, list3)

[33, 36, 39, 42, 45, 48, 51, 54, 57]

### 3. Write a Python program to listify the list of given strings individually using Python map.

In [ ]:
l = ["MY", "NAME", "IS", "PYTHON"]

def listifier(input_list):
    return list(map(list, input_list))

listifier(l)

[['M', 'Y'], ['N', 'A', 'M', 'E'], ['I', 'S'], ['P', 'Y', 'T', 'H', 'O', 'N']]

### 4. Write a Python program to square the elements of a list using map() function.

In [ ]:
list_int = [i for i in range(1,11)]
list_int

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
def square_calc(l):
    return list(map(lambda x : x**2, l))

square_calc(list_int)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 5. Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters also sort list from a given sequence. Use map() function.

In [ ]:
list_char = ['a', 'B', 'c', 'd', 'A', 'P', 'p', 'z']
def case_changer_dup_remover(l):
    return sorted(list(set(map(lambda x : (str(x).lower(), str(x).upper()), l))))

case_changer_dup_remover(list_char)

[('a', 'A'), ('b', 'B'), ('c', 'C'), ('d', 'D'), ('p', 'P'), ('z', 'Z')]

### 6. Write a Python program to add two given lists and find the difference between lists. Use map() function.

In [ ]:
list1 = [i for i in range(1,11)]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list2 = [i for i in range(10,21)]
list2

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
def list_add_sub(l1, l2):
    return list(map(lambda x,y : (x+y , y-x), l1, l2))

list_add_sub(list1, list2)

[(11, 9),
 (13, 9),
 (15, 9),
 (17, 9),
 (19, 9),
 (21, 9),
 (23, 9),
 (25, 9),
 (27, 9),
 (29, 9)]

### 7. Write a Python program to convert a given list of integers in a list and tuple of strings.

In [ ]:
l_int = [i for i in range(1,11)]
l_int

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
def stringify_list(l):
    return list(map(lambda x : str(x), l))

stringify_list(l_int)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [ ]:
def stringify_list_into_tuple(l):
    return tuple(map(lambda x : str(x), l))

stringify_list_into_tuple(l_int)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

### 8. Write a Python program to create a new list taking specific elements from a tuple and convert a string value to integer.

In [ ]:
employee_data  = [('ABC','15/05/1988','65kg'), ('DEF','17/05/1986','770kg'),
                  ('GHI','16/02/1989', '69kg'), ('JKL','25/09/1990', '65kg')]

In [ ]:
employee_name = list(map(lambda x : x[0], employee_data))
employee_name

['ABC', 'DEF', 'GHI', 'JKL']

In [ ]:
employee_dob = list(map(lambda x : x[1], employee_data))
employee_dob

['15/05/1988', '17/05/1986', '16/02/1989', '25/09/1990']

In [ ]:
employee_dob = list(map(lambda x : x[2], employee_data))
employee_dob

['65kg', '77kg', '69kg', '65kg']

In [ ]:
employee_weight = list(map(lambda x : int(x[2][0:-2]), employee_data))
employee_weight

[65, 770, 69, 65]

### 9. Write a Python program to compute the square of first N Fibonacci numbers, using map function and generate a list of the numbers.

In [ ]:
def fibonacci(n):
    fib_sequence = [0, 1]
    for i in range(2, n):
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence[:n]

def square_fibonacci(n):
    fib_numbers = fibonacci(n)
    return list(map(lambda x: x ** 2, fib_numbers))

# Example usage
N = 10
result = square_fibonacci(N)
print(result)

[0, 1, 1, 4, 9, 25, 64, 169, 441, 1156]

### 10. Write a Python program to compute the sum of elements of a given array of integers, use map() function.

In [ ]:
l_int = [i for i in range(1,101)]

In [ ]:
from array import array as arr
def add(num_array):
    sum = 0
    for i in num_array:
        sum += i
    return sum

num = arr('i', l_int)

num_array = list(map(int, num))
add(num_array)

5050

### 11. Write a Python program to count the same pair in two given lists. use map() function.

In [ ]:
# Given lists
list1 = [1, 2, 3, 4, 5]
list2 = [1, 3, 2, 4, 5]

same_pairs = sum(map(lambda x, y: x == y, list1, list2))

print(f"Number of same pairs: {same_pairs}")

Number of same pairs: 3

### 12. Write a Python program to convert a given list of strings into list of lists using map function.

In [ ]:
l_courses = ["DL", "ML", "NLP", "CV"]

def list_of_list(l):
    return list(map(list, l))

list_of_list(l_courses)

[['D', 'L'], ['M', 'L'], ['N', 'L', 'P'], ['C', 'V']]

### 13. Write a Python program to convert a given list of tuples to a list of strings using map function.

In [ ]:
mentors = [("A", "B"), ("C", "D"), ("E", "F"), ("G", "H")]

def ListofTuples_to_ListofStrings(l):
    return list(map(lambda x : x[0] + " "+ x[1],l))

ListofTuples_to_ListofStrings(mentors)

['A B', 'C D', 'E F', 'G H']

### 14. Write a Python program to filter a list of integers using filter function.

In [ ]:
lint = [i for i in range(1,11)]

def even_filter(l):
    return list(filter(lambda x : x % 2 == 0 , l))

even_filter(lint)

[2, 4, 6, 8, 10]

In [ ]:
def odd_filter(l):
    return list(filter(lambda x : x % 2 != 0 , l))

odd_filter(lint)

[1, 3, 5, 7, 9]

### 15. Write a Python program to find intersection of two given arrays using Filter function.

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [2,4,6,8,11,12]

def intersection(list1, list2):
    return list(filter(lambda x : x in list1 , list2))

intersection(l1, l2)

[2, 4, 6, 8]

### 16. Write a Python program to count the even, odd numbers in a given array of integers using filter function.

In [ ]:
import random
def count_Even_odd(l) :
    even = len(list(filter(lambda x: x % 2 == 0, l)))

    print("Count of Even number in given list is: ", even)
    print("Count of odd number in given list is: ", len(l) - even)

list_num = [random.randrange(1,50) for i in range(10)]
list_num

[28, 29, 49, 9, 23, 35, 44, 47, 10, 35]

In [ ]:
count_Even_odd(list_num)

Count of Even number in given list is:  3
Count of odd number in given list is:  7

### 17. Write a Python program to find palindromes in a given list of strings using filter function.

In [ ]:
l_word = ['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']

def palindrome_filter(l):
    return list(filter(lambda x : x if x == x[::-1] else '', l))

palindrome_filter(l_word)

['php', 'aaa']

### 18. Write a Python program to find all anagrams of a string in a given list of strings using filter function.

In [ ]:
l = ['wxyz', 'wxye', 'zywx', 'zxew', 'yzxw']

from collections import Counter

def anagrams_filter(main_string, list_words):
    return list(filter(lambda x: x if Counter(main_string) == Counter(x) else '', list_words))

anagrams_filter("wxyz", l)

['wxyz', 'zywx', 'yzxw']

### 19. Write a Python program to calculate the product of a given list of numbers using reduce function.

In [ ]:
from functools import reduce

l = [i for i in range(1,11)]

def product_reduce(l_int):
    return reduce(lambda x,y : x*y, l_int)

product_reduce(l)

3628800

### 20. Write a Python program to calculate the sum of numbers in a given list of numbers using reduce function.

In [ ]:
l_num = [i for i in range(10, 21)]

def sum_reduce(l_int):
    return reduce(lambda x,y : x+y, l_int)

sum_reduce(l_num)

165

### 21. Write a Python program to multiply all the numbers in a given list using reduce function.

In [ ]:
l = [4, 3, 2, 2, -1, 18]
l1 = [2.2, 4.12, 6.6, 8.1, 8.3]

def multiply_reduce(l_int):
    return round(reduce(lambda x,y : x*y, l_int), 2)

In [ ]:
multiply_reduce(l)

-864

In [ ]:
multiply_reduce(l1)

4021.86