# For Loop 
- Allow you to perform repetitive tasks.
- Following is the general expression of for loop:
```
for variable in iterable:
    # block of code
```

In [1]:
# step1: suppose we want to print hello 4 times:
print("hello")
print("I am hungry")

print("hello")
print("I am hungry")

print("hello")
print("I am hungry")

print("hello")
print("I am hungry")

hello
I am hungry
hello
I am hungry
hello
I am hungry
hello
I am hungry

In [2]:
# step2: Or I can print using for loop

for i in [0, 1, 2, 3]: 
    print("hello")
    print("I am hungry")
    
print("Finished")

hello
I am hungry
hello
I am hungry
hello
I am hungry
hello
I am hungry
Finished

In [3]:
# What is this variable iterator i? Lets print this

# STEP1: Lets print a number in front of each line
for i in [0, 1, 2, 3]:
    print(i, "I am trapped in for loop") 
    
print("Finished")

0 I am trapped in for loop
1 I am trapped in for loop
2 I am trapped in for loop
3 I am trapped in for loop
Finished

In [6]:
# STEP2: Lets print i, and add 3 to it.

for i in [0, 1, 2, 3]:
    print(i, i+3) 
    
print("Finished")

0 3
1 4
2 5
3 6
Finished

In [5]:
# STEP3: lets perform some math on elements: multiply all elements by 3
for i in [0, 1, 2, 3]:
    res = i * 3
    print(f"{i} * 3 = {res}")
    
print("Finished")

0 * 3 = 0
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
Finished

# range()
### Generally used with for loop

In [10]:
# Now comes range: It helps to iterate many many times..say 100
# range(start, stop, step): Generates a sequence from start up to (but not including) stop, incrementing by step.
# default step=1

for i in range(0, 4): # here start=0, stop=4
    print(f"{i} hello") # here I am accessing iterator i
    print("...I am trapped in for loop") 
    
print("finished")

0 hello
...I am trapped in for loop
1 hello
...I am trapped in for loop
2 hello
...I am trapped in for loop
3 hello
...I am trapped in for loop
finished

In [11]:
# Lets perform some math on elements: multiply all elements by 3

for i in range(0, 4):
    res = i * 3
    print(f"{i} * 3 = {res} ")
    
print("Finished")

0 * 3 = 0
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
Finished

In [12]:
# lets redo above and add the step in range: 0, 4, 8, 12

for i in range(0, 16, 4): # start=0, stop=16, step=4
    res = i * 4
    print(f"{i} * 4 = {res}")

0 * 4 = 0
4 * 4 = 16
8 * 4 = 32
12 * 4 = 48

In [13]:
# 1) prints all elements of a list with meaningful message with each fruit

fruits = ["mango", "kiwi", "cherry", "jackfruit"]

for e in fruits:
    print("I love", e)

I love mango
I love kiwi
I love cherry
I love jackfruit

In [1]:
# 2) enumerate

fruits = ["mango", "kiwi", "cherry", "jackfruit"]

for idx, e in enumerate(fruits):
    print(idx, ": I love", e)

0 : I love mango
1 : I love kiwi
2 : I love cherry
3 : I love jackfruit

In [14]:
# 3) enumerate with start

fruits = ["mango", "kiwi", "cherry", "jackfruit"]

for idx, e in enumerate(fruits, start=6):
    print(idx, ": I love", e)

6 : I love mango
7 : I love kiwi
8 : I love cherry
9 : I love jackfruit

# for + break 
- **break**: immediately exits the loop even if some iterations are left

## Find if number 7 exists in a list
numbers = [5, 23, 8, 43, 7, 3, 65, 16, 3, 14, 76, 34, 23]

In [15]:
# step1) Without break

# Find if number 7 exists in a list
numbers = [5, 23, 8, 43, 7, 3, 65, 16, 3, 14, 76, 34, 23]

for i in numbers:
    print("checking", i)
    if i == 7:
        print("Found target!")
        
print("Loop finished")

checking 5
checking 23
checking 8
checking 43
checking 7
Found target!
checking 3
checking 65
checking 16
checking 3
checking 14
checking 76
checking 34
checking 23
Loop finished

In [16]:
# Step2) Use for + break to exit the loop

# 1) Find if number 7 exists in a list: exit the loop after finding 7 in a list of numbers
numbers = [5, 23, 8, 43, 7, 3, 65, 16, 3, 14, 76, 34, 23]

for i in numbers:
    print("checking", i)
    if i == 7:
        print("Found target! Exiting the for loop")
        break # NOTE: comment it out to see what happens without it
        
print("Loop finished")

checking 5
checking 23
checking 8
checking 43
checking 7
Found target! Exiting the for loop
Loop finished

# for + continue
- **continue**: skip the rest of the current loop iteration and move to the next iteration

### Make all numbers negative, except 65:
numbers = [5, 23, 8, 43, 7, 3, 65, 16, 65, 14]

In [24]:
# Using continue: 
numbers = [5, 23, 8, 43, 7, 3, 65, 16, 65, 14]

for i in numbers:
    if i == 65:
        print("Skipping number", i)
        continue # NOTE: comment it out to see what happens without it
    print(f"Making {i} negative: {-i}")
        
print("Loop finished")

Making 5 negative: -5
Making 23 negative: -23
Making 8 negative: -8
Making 43 negative: -43
Making 7 negative: -7
Making 3 negative: -3
Skipping number 65
Making 16 negative: -16
Skipping number 65
Making 14 negative: -14
Loop finished

# STOP

# (ADVANCED) Nested "for inside for"

In [ ]:
# work backward...start with outer for loop and start adding inside for statement to see whats happening.
#step1
for outer in range(4): # Outer loop: iterates three times (0, 1, 2, 3)
    print("start outer")
    print(f"outer is {outer}")
    print("end outer\n")
print("##########")

# step2
for outer in range(4): # Outer loop: iterates three times (0, 1, 2, 3)
    print("start outer")
    print(f"outer is {outer}")
    for inner in range(3): # Inner loop: iterates two times (0, 1, 2) inside
        print(f"...inner is {inner}")
    print("end outer\n")

In [ ]:
# I wanted to see what following loop is going to print.. and analyse this.
for outer in range(4): # Outer loop: iterates three times (0, 1, 2, 3)
    for inner in range(3): # Inner loop: iterates two times (0, 1, 2) for each i
        print(f"outer: {outer}, inner: {inner}")
    print("next\n")

print("DONE")

In [ ]:
# What can I do with this ? Answer: Print multiplication table...start small

# STEP1: trial and error1: This is does not work
for i in range(4): # Outer loop: iterates three times (0, 1, 2, 3)
    for j in range(3): # Inner loop: iterates two times (0, 1, 2) for each i
        result = i * j
        print(f"{i} x {j} = {result}")
    print("next\n")
print("####################")


# STEP2: trial and error2: This is does not work
for i in range(1, 5): # CHANGED  
    for j in range(3):
        result = i * j
        print(f"{i} x {j} = {result}")  
    print()  # Print a blank line after each table
print("####################")

# STEP3: trial and error3: SUCCESS
for i in range(1, 5):  
    for j in range(1, 4):# CHANGED  
        result = i * j
        print(f"{i} x {j} = {result}")  
    print()  # Print a blank line after each table
print("####################")


# STEP4: trial and error3: OPTIMIZE
for i in range(1, 5):  
    for j in range(1, 4): 
        print(f"{i} x {j} = {i*j}")  # REMOVED variable result
    print()  # Print a blank line after each table
print("####################")

In [ ]:
# OPTIONAL: lets do some addition with nested for loop
for i in range(1, 5):  
    for j in range(1, 4):
        result = i + j
        print(f"{i} + {j} = {result}")  
    print()  # Print a blank line after each table