# This is 1st level heading

## This is my 2nd level heading

### This is my 3rd level heading

I am doing my python class today.

## comment: single line and multiple line

single line comment: see below

multiple line comment: see below

In [89]:
# This function is created by Arihant and it is doing addditons of 2 variables

In [91]:
# This function is created by Arihant

In [1]:
"""
Date: 17th Aug 2024
Written by: Arihant Jain
Purpose: Adding 2 
"""

'\nDate: 17th Aug 2024\nWritten by: Arihant Jain\nPurpose: Adding 2 \n'

In [ ]:

#Date: 17th Aug 20224
#Written by: Arihant Jain
#Purpose: Adding 2

In [94]:
a="This is my first python class"

In [95]:
print(a)

This is my first python class

In [96]:
a

'This is my first python class'

In [99]:
a=1

In [100]:
print(a)

1

In [101]:
print("a")

a

In [97]:
b=1
print(b)

1

In [8]:
print("This is my first python class")

This is my first python class

In [6]:
A=7
a=6
c=A+a
print (A,a)
print ("my A value is:",A," my a value is:",a, "and the sum of A and a is", c)

7 6
my A value is: 7  my a value is: 6 and the sum of A and a is 13

In [11]:
print("a")

a

In [2]:
a=5
b=5.6
c="Hello"
d=True

In [4]:
type(a)

int

In [5]:
type(b)

float

In [6]:
type(c)

str

In [7]:
type(d)

bool

In [2]:
#Python Operators
#Arithmetic
#Comparison
#Assignment
#Logical
#Membership
#Identity

# Arithmetic Operator +,-,*,/,//,%,**

In [13]:
#Addition
x=6
y=5
r=x+y
print(r)

11

In [7]:
#Addition
x=6
y=5
print(x+y)

11

In [6]:
#Subtraction
x=6
y=5
r=x-y
print(r)

1

In [7]:
#Multiplication
x=6
y=5
r=x*y
print(r)

30

In [14]:
#Normal Division (/) --> (Float div) 
x=10
y=5
r=x/y
print(r)

2.0

In [16]:
type(r)

float

In [107]:
# Modulo Division (//) --> Floor Division --> without decimal values
x=10
y=5
res=x//y
print(res)

2

In [23]:
# Remainder Division (%)
x=10
y=3
res=x%y
print(res)

1

In [24]:
#Exponentiation (**)
res=x**y
print(res)

1000

In [21]:
x=9
y=9
print(x+y)

18

# Comparison Operators <,<=,>,>=,==,!=

# Comparison

In [9]:
a = 16
b = 15
print(a > b)

True

In [10]:
a = 16
b = 15
print(a < b)

False

In [11]:
a = 15
b = 15
print(a >= b)

True

In [25]:
# is equal to
# a == b is False 
print(a == b)

False

In [14]:
a = 15
b = 16
print(a != b)

True

# Assignment Operator =,+=,*=,%=

In [16]:
a = 21
b = 10
c = a + b
print (c)

31

In [17]:
c += a 
#--> c=c+a
print (c)

52

In [18]:
c *= a 
#c=c*a
print (c)

1092

In [19]:
a=4
c=10
c %= a 
#c=c/a --> Remainder
print (c)

2

In [20]:
a=4
c=10
c /=a 
# c=c/a
print(c)

2.5

# Logical Operator and, or, not

In [39]:
x = 5
y = 6 
print(x < 3 and x < 10)

False

In [123]:
x = 5
y = 6 
print(x > 3 and x < 2)

True

In [22]:
x = 5
y = 6 
print(x < 3 or x < 10)

True

In [21]:
a = True
b = False
  
# Print a and b is False 
print(a and b) 
  
# Print a or b is True 
print(a or b) 
  
# Print not a is False 
print(not b)

False
True
True

In [33]:
a=5
b=10
c=12
print(a<10 or (b>10 or c<10))

True

In [35]:
a=5
b=10
c=12
print(a<10 and (b>10 or c<10))

True

In [23]:
Print("Hello")

NameError: name 'Print' is not defined

In [24]:
print("Hello")

Hello

# Membership Operator- in, not in

In [25]:
x = 'IIT Academy'  
print('Cad' in x)

False

In [26]:
print('I' in x)

True

In [27]:
print('IIT' in x)

True

In [28]:
print('IIT' not in x)

False

In [29]:
print('Aca' not in x)

False

# Identity Operator is , is not

In [136]:
a1 = 3
b1 = 6
print(a1 is not b1)

True

In [55]:
print(a1 is b1)

False

In [1]:
a2 = 'IITACADEMY'
b2 = 'iitacademy'

In [57]:
print(a2 is b2)

False

In [58]:
print(a2 is not b2)

True

### Order of Operators

In [62]:
a=30
b=10
c=20
d=5
e=(a+b)*c/d
print(e)

160.0

# other commands

In [1]:
pwd()

'E:\\Data_Science\\Python Basics\\New folder\\Updated'

In [1]:
#Help
?print

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [2]:
#Dealing with Dates
import datetime as dt

In [3]:
# Print current date and time
dt.datetime.now()

datetime.datetime(2024, 12, 14, 18, 19, 52, 512864)

In [4]:
# Returns the current local date
dt.date.today()

datetime.date(2024, 12, 14)

In [5]:
#Creating Specific Date and Time Objects

date1=dt.datetime(2024, 8, 18, 10, 30)
print(date1)

2024-08-18 10:30:00

In [6]:
date1=dt.date(2024, 8, 18)
print(date1)

2024-08-18

In [7]:
time1=dt.time(10, 30, 0)
print(time1)

10:30:00

In [8]:
#strfttime - Convert Date into string format
now = dt.datetime.now()
print(now)
t = now.strftime("%H:%M:%S")
print("time:", t)

2024-12-14 18:20:00.456740
time: 18:20:00

In [9]:
# Change the format of date
s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
print(s1)

12/14/2024, 18:20:00

In [11]:
#Extracting date and time components

now = dt.datetime.now()
print(now)
print(now.year)   
print(now.month)  
print(now.day)    
print(now.hour)  
print(now.minute) 
print(now.second)

2024-12-14 18:20:17.992834
2024
12
14
18
20
17

In [14]:
# Comparing different dates

dt1 = dt.datetime(2024, 8, 20, 10, 30)
dt2 = dt.datetime(2024, 8, 19, 10, 30)
print(dt1)
print(dt2)
print(dt1 < dt2)

2024-08-20 10:30:00
2024-08-19 10:30:00
False