# Python Operators
# Arithmetic
# Comparison
# Assignment
# Logical
# Membership
# Identity

# Arithmetic Operator +, - , *, /, //, %, **

In [1]:
# First thing first: Python(unlike SQL) is CASE SENSITIVE  <- VERY IMPORTANT
a = 3
A = 5
print(a)
print(A)

# print() is not same as Print()

3
5

In [13]:
#Addition
x=6
y=5
r=x+y
print(r)

11

In [7]:
#Addition
x=6
y=5
print(x+y)

11

In [6]:
#Subtraction
x=6
y=5
r=x-y
print(r)

1

In [7]:
#Multiplication
x=6
y=5
r=x*y
print(r)

30

In [14]:
#Normal Division (/) --> (Float div) 
x=10
y=5
r=x/y
print(r)

2.0

In [16]:
type(r)

float

In [107]:
# Modulo Division (//) --> Floor Division --> without decimal values
x=10
y=5
res=x//y
print(res)

2

In [1]:
# Modulo Division (//) --> Floor Division --> without decimal values
x=10
y=7
res=x//y
print(res)

1

In [2]:
# Remainder Division (%)
x=10
y=7
res=x%y
print(res)

3

In [24]:
#Exponentiation (**)
res=x**y
print(res)

1000

In [21]:
x=9
y=9
print(x+y)

18

# Comparison Operators <,<=,>,>=,==,!=

# Comparison

In [3]:
a = 16
b = 15
bool_exp = a > b

print(bool_exp)

True

In [8]:
# or I can print the value directly
a = 16
b = 15

print(a > b)

True

In [10]:
a = 16
b = 15

print(a < b)

False

In [10]:
a = 13
b = 15

print(a < b)

True

In [11]:
a = 15
b = 15
print(a >= b)

True

In [6]:
a = 13
b = 15
print(a >= b)

False

In [7]:
a = 20
b = 15
print(a >= b)

True

In [5]:
a = 13
b = 15
print(a <= b)

True

In [25]:
# is equal to
# a == b is False 
print(a == b)

False

In [14]:
a = 15
b = 16
print(a != b)

True

# Assignment Operator =,+=,*=,%=

In [16]:
a = 21
b = 10
c = a + b
print (c)

31

In [17]:
c += a  #--> c=c+a
print (c)

52

In [18]:
c *= a #c=c*a
print (c)

1092

In [12]:
c = 10
a = 7

c %= a #c=c/a --> Remainder
print (c)

3

In [14]:
c=10
a=4

c /=a # c=c/a
print(c)

2.5

# Logical Operator and, or, not

In [15]:
x = 5
y = 6
bool_exp = x < 3 and x < 10

print(bool_exp)

False

In [1]:
x = 5
y = 6 
bool_exp = x > 3 and x < 2

print(bool_exp)

False

In [2]:
x = 5
y = 6 
bool_exp = x < 3 or x < 10

print(bool_exp)

True

In [21]:
a = True
b = False
  
# Print a and b is False 
print(a and b) 
  
# Print a or b is True 
print(a or b) 
  
# Print not a is False 
print(not b)

False
True
True

In [33]:
a=5
b=10
c=12
bool_exp = a<10 or (b>10 or c<10)

print(bool_exp)

True

In [35]:
a=5
b=10
c=12

print(a<10 and (b>10 or c<10))

True

In [23]:
Print("Hello")

NameError: name 'Print' is not defined

In [24]:
print("Hello")

Hello

# Membership Operator- in, not in

In [3]:
x = 'University of Miami'  
print('Mia' in x)

True

In [4]:
x = 'University of Miami'  
print('miami' in x)

False

In [5]:
print('I' in x)

False

In [6]:
print('University' in x)

True

In [7]:
print('University' not in x)

False

In [8]:
print('university' not in x)

True

In [9]:
print('of' not in x)

False

In [13]:
lst = [1, 3, "Universe talks through stars"]
print(1 in lst)
print(2 in lst)
print("Universe"  in lst)
print("Universe"  in lst[2])

True
False
False
True

# Identity Operator is , is not
Used to check if 2 variables refer to the same memory location, not just if they have the same value.

**==** Checks whether two values are equal. It compares contents/values, not whether they’re the same object.

**is** Checks whether two variables point to the same object in memory.

In [5]:
a1 = 3
b1 = 6
print(a1 is b1)

False

In [136]:
a1 = 3
b1 = 6
print(a1 is not b1)

True

In [2]:
a1 = 3
b1 = a1
print(a1 is b1)

True

In [10]:
a = [1, 2, 3]
b = a
print(a is b)  # True (same object in memory)

c = [1, 2, 3]
print(a is c)  # False (same value, but different object)

True
False

In [11]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a is b)   # False — different objects in memory

c = a
print(a is c)   # True — both point to the same list object

False
True

In [1]:
a2 = 'UNIVERSE'
b2 = 'universe'

In [14]:
print(a2 is b2)

NameError: name 'a2' is not defined

In [58]:
print(a2 is not b2)

True

In [ ]:
# real world example
result = None

if result is None:
    print("No result yet")

if result is not None:
    print("Got a result")

### Order of Operators

In [62]:
a=30
b=10
c=20
d=5
e=(a+b)*c/d
print(e)

160.0