# JSON: JavaScript Object Notation
- Widely-used text-based format for **data interchange**
- Easy to **serialize and deserialize**, which makes it ideal for use in **APIs and data storage**

## Examples of JSON 
### Ex1
```
{
  "name": "Bob",
}
```


### Ex2:
```
{
  "name": "Bob",
  "isworking": true,
  "hobbies": ["eating", "sleeping"],
  "age": 8
}
```
### Ex3:
```
{
  "name": "Bob",
  "isworking": true,
  "hobbies": ["eating", "sleeping"],
  "age": 8,
  "address": {
    "work": null,
    "home": ["Russia", "USA"]
  },
  "friends": [
    {
      "name": "Rahim",
      "hobbies": ["sleeping", "reading"]
    },
    {
      "name": "Nancy",
      "hobbies": ["running", "snacking", "Skydiving"]
    }
  ]
}
```

## Example of JSON used in API:
```
{
  "students": [
    {
      "id": 1,
      "name": "Lox",
      "course": "Python"
    },
    {
      "id": 2,
      "name": "Ford",
      "course": "Data Science"
    },
    {
      "id": 3,
      "name": "Loxford",
      "course": "AI"
    }
  ]
}

## Example of JSON: Employees database
```
[
  {
    "emp_id": 1,
    "name": "Ankit",
    "department": "IT",
    "salary": 60000
  },
  {
    "emp_id": 2,
    "name": "Priya",
    "department": "HR",
    "salary": 50000
  },
  {
    "emp_id": 3,
    "name": "Vikas",
    "department": "Finance",
    "salary": 65000
  }
]
```

## Important Rules for JSON

- Keys must be in double quotes
- Data types allowed: String, Number, Boolean, Array, Object, null
- No trailing commas

```
{
  'name': Bob,            <- cannot use single quote**
  "isworking": true,
  "hobbies": ["eating", "sleeping"],
  "age": 8,                 <- trailing comma not allowed
}

In [5]:
import json
import json

employees = [
  {"emp_id": 1, "name": "Lox", "department": "IT", "salary": 60000},
  {"emp_id": 2, "name": "Ford", "department": "HR", "salary": 50000},
  {"emp_id": 3, "name": "Ash", "department": "Finance", "salary": 65000}
]

In [6]:
# Converting Python object into JSON format: (Serialization)

json_data = json.dumps(employees) # Used when sending data to API

print(json_data)

[{"emp_id": 1, "name": "Lox", "department": "IT", "salary": 60000}, {"emp_id": 2, "name": "Ford", "department": "HR", "salary": 50000}, {"emp_id": 3, "name": "Ash", "department": "Finance", "salary": 65000}]

In [7]:
# print in pretty way: use indent

json_data = json.dumps(employees, indent=4)

print(json_data)

[
    {
        "emp_id": 1,
        "name": "Lox",
        "department": "IT",
        "salary": 60000
    },
    {
        "emp_id": 2,
        "name": "Ford",
        "department": "HR",
        "salary": 50000
    },
    {
        "emp_id": 3,
        "name": "Ash",
        "department": "Finance",
        "salary": 65000
    }
]

# Writing JSON file

In [8]:
with open("employees.json", "w") as f:
    json.dump(employees, f, indent=4)

# Verify the file

## Reading JSON File: Deserialization

In [9]:
# 1) 
with open("employees.json", "r") as f:
    data = json.load(f)

print(data)

[{'emp_id': 1, 'name': 'Lox', 'department': 'IT', 'salary': 60000}, {'emp_id': 2, 'name': 'Ford', 'department': 'HR', 'salary': 50000}, {'emp_id': 3, 'name': 'Ash', 'department': 'Finance', 'salary': 65000}]

In [11]:
# Access First Employee
print(data[0])

# Access Name Only
print(data[0]["name"])

{'emp_id': 1, 'name': 'Lox', 'department': 'IT', 'salary': 60000}
Lox