# Jupyter advantages
### Actual final .py code
Follwing is the actual final python code created after going through code development

In [ ]:
# Ask the user to choose an operation
operation = input("Which operation would you like to perform? (+, -, *): ")

# Ask the user to enter two numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Perform the operation
if operation == '+':
    result = num1 + num2
    print("Result:", result)
elif operation == '-':
    result = num1 - num2
    print("Result:", result)
elif operation == '*':
    result = num1 * num2
    print("Result:", result)
else:
    print("Invalid operation selected.")

## Iterative steps taken in jupyter notebook to arrive at above code

In [7]:
operation = input("Which operation would you like to perform? (+, -, *): ")

Which operation would you like to perform? (+, -, *):  +

In [8]:
print(operation)

+

In [11]:
# Ask the user to enter two numbers
num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")

Enter the first number:  1
Enter the second number:  3

In [13]:
print(f"{num1} , {num2}")
print(type(num1))
print(type(num2))

1 , 3
<class 'str'>
<class 'str'>

## This is problem....because I want numeric data types.
So I convert it into float (or int)

In [14]:
# Ask the user to enter two numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

Enter the first number:  2
Enter the second number:  4

In [15]:
print(f"{num1} , {num2}")
print(type(num1))
print(type(num2))

2.0 , 4.0
<class 'float'>
<class 'float'>

## Now you can delete the above cell that gave string data type

In [1]:
operation = "+"
num1 = 2
num2 = 4

# check + operation
if operation == '+':
    result = num1 + num2
    print("Result:", result)
else:
    print("Invalid operation selected.")

Result: 6

In [2]:
operation = "-"
num1 = 2
num2 = 4

# check + - operation
if operation == '+':
    result = num1 + num2
    print("Result:", result)
elif operation == '-':
    result = num1 - num2
    print("Result:", result)
else:
    print("Invalid operation selected.")

Result: -2

In [3]:
operation = "*"
num1 = 2
num2 = 4

# Perform the operation
if operation == '+':
    result = num1 + num2
    print("Result:", result)
elif operation == '-':
    result = num1 - num2
    print("Result:", result)
elif operation == '*':
    result = num1 * num2
    print("Result:", result)
else:
    print("Invalid operation selected.")

Result: 8

In [4]:
operation = "&&"
num1 = 2
num2 = 4

# Perform the operation
if operation == '+':
    result = num1 + num2
    print("Result:", result)
elif operation == '-':
    result = num1 - num2
    print("Result:", result)
elif operation == '*':
    result = num1 * num2
    print("Result:", result)
else:
    print("Invalid operation selected.")

Invalid operation selected.

In [ ]:
## Good . All cases are tested here. Now copy and paste the necessary cell code in .py file